Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: added metric page in messaging queues
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricColumnGraphs.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageGraph.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added misc fixes
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added lightMode styles for kafka 2.0
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
Owners: @YounixM

chore: add k8s deployment resources
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/deployments.go
  pkg/query-service/app/inframetrics/workload_query.go
  pkg/query-service/model/infra.go
Owners: none

fix: resolved metrics,logs and traces tab issues
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsListControls.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoring.styles.scss
Owners: @YounixM

chore: update events for onboarding part 2
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

chore: update events for onboarding part 2 (#6397)
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

Issue 6367 (#6376)
  pkg/query-service/app/logs/v3/query_builder.go
  pkg/query-service/app/logs/v3/query_builder_test.go
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/logs/v4/query_builder_test.go
Owners: none

fix: tests
  pkg/query-service/app/traces/v4/enrich_test.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/rules/threshold_rule_test.go
Owners: none

feat: added map view tab and coming soon message for the map detail view
  frontend/src/pages/InfraMonitoringHosts/HostsMapView.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfraMonitoringHosts/index.tsx
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
Owners: @YounixM

fix: group by with filters
  pkg/query-service/app/traces/v4/query_builder.go
Owners: none

feat: removed a class name from mqcards
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

fix: add subquery
  pkg/query-service/app/traces/v4/query_builder.go
Owners: none

fix: trigger builde
  pkg/query-service/app/traces/v4/query_builder.go
Owners: none

chore(signoz): pin versions: SigNoz 0.58.0, SigNoz OtelCollector 0.111.8
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

feat: added lightMode styles for kafka 2.0 (#6400)
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
Owners: @YounixM

feat(go): run go-mod tidy
  go.mod
Owners: none

chore(defaults): address comments
  conf/defaults.yaml
Owners: none

feat: trace V4 QB
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
Owners: none

chore: update base url for docs links - testing
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

chore: add k8s daemonset resources
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/daemonsets.go
  pkg/query-service/model/infra.go
Owners: none

chore: add k8s statefulset resources
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/statefulsets.go
  pkg/query-service/model/infra.go
Owners: none

feat(config): add a backwards compatibility function
  cmd/signoz/main.go
  conf/defaults.yaml
  pkg/config/config.go
Owners: none

feat(SIGNOZ_JWT_SECRET): add deprecation warning
  cmd/signoz/main.go
  conf/defaults.yaml
  pkg/config/config.go
  pkg/query-service/main.go
Owners: none

chore: add k8s job resources
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/jobs.go
  pkg/query-service/model/infra.go
Owners: none

fix: test notification missing for anomaly alert (#6391)
  ee/query-service/app/server.go
  ee/query-service/rules/manager.go
  pkg/query-service/model/response.go
  pkg/query-service/rules/api_params.go
  pkg/query-service/rules/api_params_test.go
  pkg/query-service/rules/db.go
  pkg/query-service/rules/manager.go
  pkg/query-service/rules/templates.go
  pkg/query-service/rules/templates_test.go
  pkg/query-service/rules/test_notification.go
Owners: none

chore: more accurate cumulative counter rate calc
  frontend/public/locales/en-GB/alerts.json
  frontend/public/locales/en-GB/rules.json
  frontend/public/locales/en/alerts.json
  frontend/public/locales/en/rules.json
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  pkg/query-service/app/metrics/v4/cumulative/timeseries.go
Owners: @YounixM

feat: resolved comments and used strings
  frontend/public/locales/en-GB/messagingQueues.json
  frontend/public/locales/en-GB/messagingQueuesKafkaOverview.json
  frontend/public/locales/en/messagingQueues.json
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricColumnGraphs.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: added metric page in messaging queues (#6399)
  frontend/public/locales/en-GB/messagingQueues.json
  frontend/public/locales/en-GB/messagingQueuesKafkaOverview.json
  frontend/public/locales/en/messagingQueues.json
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricColumnGraphs.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageGraph.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

chore: add k8s job resources (#6410)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/jobs.go
  pkg/query-service/model/infra.go
Owners: none

chore: add k8s statefulset resources (#6409)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/jobs.go
  pkg/query-service/app/inframetrics/statefulsets.go
  pkg/query-service/model/infra.go
Owners: none

chore: add k8s daemonset resources (#6408)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/daemonsets.go
  pkg/query-service/app/inframetrics/jobs.go
  pkg/query-service/app/inframetrics/statefulsets.go
  pkg/query-service/model/infra.go
Owners: none

fix: update pagination logic and few ch column names
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/model/response.go
Owners: none

fix: add severity_text legend
  frontend/src/container/LogsExplorerViews/index.tsx
Owners: @YounixM

fix: fix the failing build
  frontend/package.json
  frontend/src/container/ExplorerOptions/utils.ts
  frontend/yarn.lock
Owners: @YounixM

chore: upgrade design tokens to 1.1.3
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

[Snyk] Fix for 2 vulnerabilities (#6215)
  frontend/package.json
  frontend/src/container/ExplorerOptions/utils.ts
  frontend/yarn.lock
Owners: @YounixM

feat: add channel creation option and auto-refresh channels list on dropdown open
  frontend/src/container/FormAlertRules/BasicInfo.tsx
  frontend/src/container/FormAlertRules/ChannelSelect/index.tsx
  frontend/src/hooks/useFetch.ts
Owners: @YounixM

fix: fix the issue of adding new query in new alert page changing the data source (#6286)
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
