Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

chore: replace the 'Get started' CTA with 'New source'
  frontend/src/container/SideNav/SideNav.tsx
Owners: @YounixM

fix: pipeline actions test cases
  frontend/src/container/PipelinePage/PipelineListsView/PipelineListsView.tsx
  frontend/src/container/PipelinePage/tests/PipelineListsView.test.tsx
Owners: @YounixM

feat: changed start and end time logic for consumer lag details
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: base setup for k8s infra monitoring
  frontend/src/AppRoutes/routes.ts
  frontend/src/api/infraMonitoring/getK8sPodsList.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.tsx
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/index.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/TopNav/DateTimeSelectionV2/config.ts
  frontend/src/hooks/infraMonitoring/useGetK8sPodsList.ts
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoring.styles.scss
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoringPage.tsx
  frontend/src/pages/InfrastructureMonitoring/constants.tsx
  frontend/src/pages/LogsExplorer/utils.tsx
  frontend/src/periscope.scss
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: setup k8s pods components
  frontend/public/locales/en-GB/titles.json
  frontend/public/locales/en/titles.json
  frontend/src/api/infraMonitoring/getK8sPodsList.ts
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.tsx
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/Metrics/Metrics.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetail.interfaces.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetails.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/NoLogsContainer.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogs.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogsDetailedView.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/PodTraces.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/PodTraces.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/utils.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/index.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/utils/localStorageReadWrite.ts
Owners: @YounixM

chore: move pods related files in pods folder
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetail.interfaces.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/NoLogsContainer.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogsDetailedView.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/PodTraces.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/PodTraces.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/utils.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/index.tsx
Owners: @YounixM

fix: billing test cases
  frontend/src/container/BillingContainer/BillingContainer.test.tsx
  frontend/src/mocks-server/__mockdata__/licenses.ts
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

feat: add byte rate to producer API (#6579)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

feat: update the signup API to accept isAnonymous and hasOptedUpdates
  frontend/src/AppRoutes/Private.tsx
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/types/api/user/signup.ts
  pkg/query-service/auth/auth.go
  pkg/query-service/dao/sqlite/rbac.go
Owners: @YounixM

feat: fixed typo in function name
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: consumed new 2 table merging logic for producer latency overview
  frontend/src/api/messagingQueues/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
Owners: @YounixM

feat: added table column and row logic for the new api response structure for prodcure overview
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
Owners: @YounixM

fix: fix the failing tests
  frontend/src/container/LogsExplorerViews/tests/LogsExplorerViews.test.tsx
  frontend/src/container/PipelinePage/Layouts/ChangeHistory/tests/ChangeHistory.test.tsx
  frontend/src/container/PipelinePage/tests/PipelineListsView.test.tsx
  frontend/src/pages/LogsExplorer/__tests__/LogsExplorer.test.tsx
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

feat: added API limiting to reduce unneccesary api call for dashboard variables
  frontend/src/container/NewDashboard/DashboardVariablesSelection/DashboardVariableSelection.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/VariableItem.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

feat: handle switching off the timezone adaptation
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

fix: resolve the unneccessary refetching of graphs on service details page
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
  frontend/src/container/MetricsApplication/Tabs/Overview/ServiceOverview.tsx
Owners: @srikanthccv

fix: smartTraceAlgo for new schema (#6602)
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: migration for ingestion dashboard
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/migrate/ingestion_dashboard.go
  pkg/query-service/migrate/migate.go
Owners: none

fix: remove redundant uuid
  pkg/query-service/migrate/ingestion_dashboard.go
Owners: none

chore: cleanup the console logs
  frontend/src/container/NewExplorerCTA/index.tsx
Owners: @YounixM

fix: indefinite loading on manage licenses screen
  frontend/src/container/Licenses/ApplyLicenseForm.tsx
  frontend/src/container/Licenses/index.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/types.ts
Owners: @YounixM

fix: better handling and route to something_went_wrong in case of qs down
  frontend/src/AppRoutes/index.tsx
  frontend/src/api/licenses/getAll.ts
  frontend/src/api/user/getUser.ts
Owners: @YounixM

fix: signup for subsequent users
  frontend/src/providers/App/App.tsx
Owners: @YounixM

chore: address comments
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

Update pkg/query-service/app/dashboards/model.go
  pkg/query-service/app/dashboards/model.go
Owners: none

fix: update default alert ch queries for traces and logs (#6552)
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

fix: migration for ingestion dashboard (#6610)
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/migrate/ingestion_dashboard.go
  pkg/query-service/migrate/migate.go
Owners: none

feat: setup k8s pods components
  frontend/public/locales/en-GB/titles.json
  frontend/public/locales/en/titles.json
  frontend/src/api/infraMonitoring/getK8sPodsList.ts
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.tsx
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/Metrics/Metrics.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetail.interfaces.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetails.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/NoLogsContainer.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogs.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/PodLogsDetailedView.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodLogs/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/PodTraces.styles.scss
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/PodTraces.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/PodTraces/utils.tsx
  frontend/src/container/InfraMonitoringK8s/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/PodDetails/index.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/utils/localStorageReadWrite.ts
Owners: @YounixM

feat: integrate queries for the metrics tab
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/constants.ts
Owners: @YounixM

feat: events tab integration
  frontend/src/api/infraMonitoring/getK8sPodsList.ts
  frontend/src/components/QuickFilters/FilterRenderers/Checkbox/Checkbox.styles.scss
  frontend/src/components/QuickFilters/QuickFilters.styles.scss
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Events/Events.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Events/Events.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Events/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/pages/LogsExplorer/utils.tsx
Owners: @YounixM

feat: base setup for k8s infra monitoring
  frontend/src/AppRoutes/routes.ts
  frontend/src/api/infraMonitoring/getK8sPodsList.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sFiltersSidePanel/K8sFiltersSidePanel.tsx
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/index.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/TopNav/DateTimeSelectionV2/config.ts
  frontend/src/hooks/infraMonitoring/useGetK8sPodsList.ts
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoring.styles.scss
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoringPage.tsx
  frontend/src/pages/InfrastructureMonitoring/constants.tsx
  frontend/src/pages/LogsExplorer/utils.tsx
  frontend/src/periscope.scss
  frontend/src/utils/permission/index.ts
Owners: @YounixM

chore: move pods related files in pods folder
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Metrics/Metrics.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetail.interfaces.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/NoLogsContainer.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogsDetailedView.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/PodTraces.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/PodTraces.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/utils.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/index.tsx
Owners: @YounixM

chore: update test-utils
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

chore: restructure Kafka codebase
  frontend/src/api/messagingQueues/getConsumerLagDetails.ts
  frontend/src/api/messagingQueues/getKafkaSpanEval.tsx
  frontend/src/api/messagingQueues/getPartitionLatencyDetails.ts
  frontend/src/api/messagingQueues/getPartitionLatencyOverview.ts
  frontend/src/api/messagingQueues/getTopicThroughputDetails.ts
  frontend/src/api/messagingQueues/getTopicThroughputOverview.ts
  frontend/src/components/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/components/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/components/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/components/MessagingQueues/MQCommon/MQCommon.styles.scss
  frontend/src/components/MessagingQueues/MQCommon/MQCommon.tsx
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MQGraph/MQConfigOptions.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

fix: fix the issue of saved view overriding query for logs and traces for builder type query
  frontend/src/container/ExplorerOptions/ExplorerOptions.tsx
  frontend/src/providers/QueryBuilder.tsx
  frontend/src/types/common/queryBuilder.ts
Owners: @YounixM

fix: fix count aggregate attribute column name
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: add test for column as well
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: use new schema in threshold rule enrichment
  pkg/query-service/rules/threshold_rule.go
Owners: none

feat: fixed dropdown open triggering the api calls for single-select and misc
  frontend/src/container/NewDashboard/DashboardVariablesSelection/DashboardVariableSelection.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/VariableItem.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM
