Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: add questionaire components (#5998)
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.styles.scss
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: maintain state and add log events
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

chore: update org onboarding package
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/pages/OrgOnboarding/OrgOnboarding.tsx
  frontend/src/pages/OrgOnboarding/index.tsx
Owners: @YounixM

feat: handle onboarding visibility
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/store/reducers/app.ts
  frontend/src/styles.scss
  frontend/src/types/actions/app.ts
  frontend/src/types/api/preferences/userOrgPreferences.ts
  frontend/src/types/reducer/app.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: handle redirection after onboarding
  frontend/public/locales/en/titles.json
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: handle light mode and remove unnecessary logos
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
Owners: @YounixM

feat: handle invite user flows
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: handle linear to exponential conversion for logs, services and hosts
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
Owners: @YounixM

feat: feedback updates
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

feat: feedback updates
  frontend/src/api/preferences/updateOrgPreference.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/types/api/preferences/userOrgPreferences.ts
Owners: @YounixM

feat: update to use v2 instance
  frontend/src/api/index.ts
Owners: @YounixM

chore: remove workspace from fullscreen
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
Owners: @YounixM

feat: handle errors for profiles and invite users api
  frontend/public/locales/en/titles.json
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
  frontend/src/utils/error.ts
Owners: @YounixM

chore: remove workspace from fullscreen
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
Owners: @YounixM

chore: update org onboarding package
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/pages/OrgOnboarding/OrgOnboarding.tsx
  frontend/src/pages/OrgOnboarding/index.tsx
Owners: @YounixM

feat: update to use v2 instance
  frontend/src/api/index.ts
Owners: @YounixM

feat: add questionaire components (#5998)
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.styles.scss
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: handle linear to exponential conversion for logs, services and hosts
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
Owners: @YounixM

feat: handle errors for profiles and invite users api
  frontend/public/locales/en/titles.json
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
  frontend/src/utils/error.ts
Owners: @YounixM

feat: feedback updates
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

feat: maintain state and add log events
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

feat: integrate update profile and invite users api
  frontend/src/api/apiV1.ts
  frontend/src/api/index.ts
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/OrganizationSettings/PendingInvitesContainer/index.tsx
  frontend/src/types/api/onboarding/types.ts
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: handle onboarding visibility
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/store/reducers/app.ts
  frontend/src/styles.scss
  frontend/src/types/actions/app.ts
  frontend/src/types/api/preferences/userOrgPreferences.ts
  frontend/src/types/reducer/app.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: handle light mode and remove unnecessary logos
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
Owners: @YounixM

feat: handle invite user flows
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: handle redirection after onboarding
  frontend/public/locales/en/titles.json
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: feedback updates
  frontend/src/api/preferences/updateOrgPreference.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/types/api/preferences/userOrgPreferences.ts
Owners: @YounixM

fix: update request payload for span metrics queries
  frontend/src/container/MetricsApplication/MetricsPageQueries/DBCallQueries.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/ExternalQueries.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/MetricsPageQueriesFactory.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/OverviewQueries.ts
  frontend/src/container/MetricsApplication/Tabs/types.ts
  frontend/src/container/MetricsApplication/constant.ts
Owners: @srikanthccv

fix: handle redirect in onboarding
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

fix: handle redirect in onboarding (#6324)
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

fix: use query builder for metrics onboarding API
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

fix: use query builder for metrics onboarding API (#6327)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities (#6266)
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

chore: upgrade axios from 1.7.4 to 1.7.7
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

chore: upgrade axios from 1.7.4 to 1.7.7 (#6291)
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

feat: corrected the onboardingapi payload
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
Owners: @YounixM

feat: fixed multiple fixes and chores in kafka 2.0
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
