Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: support for new enrichment logic in traces
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/enrich_test.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

fix: default test added
  pkg/query-service/app/traces/v4/enrich_test.go
Owners: none

feat: support for window based pagination in new trace v4
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

feat: minor fixes
  ee/query-service/app/server.go
  ee/query-service/rules/manager.go
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/rules/manager.go
  pkg/query-service/rules/test_notification.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

fix: update pagination logic
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

fix: update pagination logic
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

fix: update comment
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

fix: substract correct length
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

fix: revert changes
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

fix: added the code for logs tab and navigation to respective explorer page
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/index.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsListControls.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
Owners: @YounixM

feat: add feature flag to clickhouse migration
  ee/query-service/app/server.go
  pkg/query-service/app/server.go
  pkg/query-service/constants/constants.go
  pkg/query-service/migrate/migate.go
Owners: none

fix: add tests for querier
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

fix: rename matcher
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

Update pkg/query-service/constants/constants.go
  pkg/query-service/constants/constants.go
Owners: none

fix(FE): prevent saving view with empty label
  frontend/src/container/ExplorerOptions/ExplorerOptions.tsx
Owners: @YounixM

feat: removed dashboard uuid is all cases be it duplicate, empty or somevalid, while import json
  frontend/src/container/ListOfDashboard/ImportJSON/index.tsx
Owners: @YounixM

fix: added fixes for date time selection custom issue
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/constants/features.ts
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

chore: added an endpoint to support migration of licenses
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/license/manager.go
Owners: none

feat: ingestion limits - add toggle feature (#6430)
  frontend/src/container/IngestionSettings/IngestionSettings.styles.scss
  frontend/src/container/IngestionSettings/MultiIngestionSettings.tsx
  frontend/src/types/api/ingestionKeys/limits/types.ts
Owners: @YounixM

fix: handle offset inmemory for list queries in traces
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

fix: update pagination logic
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

fix: correct var name
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
Owners: none

style: added styles for light mode
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/InfraMonitoringHosts/HostsListControls.tsx
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/InfraMonitoringHosts/index.tsx
  frontend/src/container/InfraMonitoringHosts/utils.tsx
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/pages/InfrastructureMonitoring/constants.tsx
Owners: @YounixM

feat: added logs and traces tab in host metrics detail view (#6359)
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/constants/features.ts
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/InfraMonitoringHosts/HostsListControls.tsx
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/InfraMonitoringHosts/index.tsx
  frontend/src/container/InfraMonitoringHosts/utils.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/index.tsx
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
  frontend/src/hooks/queryBuilder/useFetchKeysAndValues.ts
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoring.styles.scss
  frontend/src/pages/InfrastructureMonitoring/constants.tsx
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

fix: show org onboarding only to cloud customers
  frontend/src/AppRoutes/Private.tsx
Owners: @YounixM

feat: added comment to better explain the logic
  frontend/src/container/ListOfDashboard/ImportJSON/index.tsx
Owners: @YounixM

fix: show org onboarding only to cloud customers (#6451)
  frontend/src/AppRoutes/Private.tsx
Owners: @YounixM

feat: removed dashboard uuid is all cases be it duplicate, empty or somevalid, while import json (#6448)
  frontend/src/container/ListOfDashboard/ImportJSON/index.tsx
Owners: @YounixM

fix: add max pagination limit for traces
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/app/querier/v2/querier_test.go
  pkg/query-service/constants/constants.go
Owners: none

chore(signoz): pin versions: SigNoz 0.58.1
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

feat: support for window based pagination in new trace v4 (#6440)
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/app/querier/v2/querier_test.go
  pkg/query-service/constants/constants.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

fix: update struct to fix live logs
  pkg/query-service/model/response.go
Owners: none

fix: update logs struct to fix live logs (#6453)
  pkg/query-service/model/response.go
Owners: none

fix: update func name in links
  pkg/query-service/contextlinks/links.go
  pkg/query-service/utils/logs_test.go
Owners: none

Update pkg/query-service/utils/logs_test.go
  pkg/query-service/utils/logs_test.go
Owners: none

feat: support for new enrichment logic in traces (#6438)
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/enrich_test.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
  pkg/query-service/contextlinks/links.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

chore: anomaly fixes
  ee/query-service/rules/anomaly.go
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  pkg/query-service/rules/base_rule.go
Owners: @YounixM

fix: compare op outside bounds for anomaly alert
  ee/query-service/rules/anomaly.go
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  pkg/query-service/rules/base_rule.go
Owners: @YounixM

chore: add missing alert telemetry
  pkg/query-service/telemetry/telemetry.go
Owners: none

fix: compare op outside bounds for anomaly alert (#6458)
  ee/query-service/rules/anomaly.go
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  pkg/query-service/rules/base_rule.go
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
