Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

fix: fix count aggregate attribute column name (#6613)
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/rules/threshold_rule.go
Owners: none

chore: refactored isDefaultQuery to use a function to extract relevant keys and use lodash's isEqual
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

feat: update query to fetch logs and traces
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Events/Events.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/Events/NoEventsContainer.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/constants.ts
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/PodTraces.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodTraces/constants.ts
Owners: @YounixM

feat: implement nodes list table in infra-monitoring
  frontend/src/api/infraMonitoring/getK8sNodesList.ts
  frontend/src/container/InfraMonitoringK8s/Nodes/K8sNodesList.tsx
  frontend/src/container/InfraMonitoringK8s/Nodes/utils.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/hooks/infraMonitoring/useGetK8sNodesList.ts
Owners: @YounixM

chore: use tag attributes v2 table
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

feat: update query for quick filters
  frontend/src/components/QuickFilters/FilterRenderers/Checkbox/Checkbox.tsx
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodDetails.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/PodLogs/PodLogs.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/PodDetails/constants.ts
  frontend/src/container/InfraMonitoringK8s/utils.tsx
Owners: @YounixM

feat: handle quick filter categorization
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/constants.ts
  frontend/src/container/InfraMonitoringK8s/utils.tsx
Owners: @YounixM

feat: handle category change
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/Volumes/Volumes.tsx
  frontend/src/container/InfraMonitoringK8s/constants.ts
Owners: @YounixM

chore: update header props
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/Nodes/K8sNodesList.tsx
Owners: @YounixM

feat: implement namespaces list table in infra monitoring
  frontend/src/api/infraMonitoring/getK8sNamespacesList.ts
  frontend/src/container/InfraMonitoringK8s/Namespaces/K8sNamespacesList.tsx
  frontend/src/container/InfraMonitoringK8s/Namespaces/utils.tsx
  frontend/src/hooks/infraMonitoring/useGetK8sNamespacesList.ts
Owners: @YounixM

feat: implement deployments list table in infra monitoring
  frontend/src/api/infraMonitoring/getK8sDeploymentsList.ts
  frontend/src/container/InfraMonitoringK8s/Deployments/K8sDeploymentsList.tsx
  frontend/src/container/InfraMonitoringK8s/Deployments/utils.tsx
  frontend/src/hooks/infraMonitoring/useGetK8sDeploymentsList.ts
Owners: @YounixM

feat: added 3 digit precision to 'ingestion_rate' and 'byte_rate'in consumer overview
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: consumed new 2 table merging logic for producer latency overview
  frontend/src/api/messagingQueues/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
Owners: @YounixM

feat: fixed typo in function name
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: added table column and row logic for the new api response structure for prodcure overview
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
Owners: @YounixM

feat: add jest test cases for new logic's utils, functions and processors - dashboardVariables
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/dashboardVariables.test.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/mock.ts
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

chore: remove comments
  frontend/src/container/InfraMonitoringK8s/Deployments/utils.tsx
Owners: @YounixM

feat: added test for checkAPIInvocation
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/dashboardVariables.test.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/mock.ts
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

feat: refactor code
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/dashboardVariables.test.tsx
Owners: @YounixM

feat: implement containers list table for infra monitoring
  frontend/src/api/infraMonitoring/getK8sContainersList.ts
  frontend/src/container/InfraMonitoringK8s/Containers/K8sContainersList.tsx
  frontend/src/container/InfraMonitoringK8s/Containers/utils.tsx
  frontend/src/hooks/infraMonitoring/useGetK8sContainersList.ts
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.62.0, SigNoz OtelCollector 0.111.15
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

feat(licenses): deprecate licenses v2
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/app/server.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/main.go
Owners: none

feat: added more test on graph utilities
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/dashboardVariables.test.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/__test__/mock.ts
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

fix: add check for multiple queries in isDefaultQuery logic
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

chore: moved extractRelevantKeys outside isDefaultQuery
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

feat: implement clusters list table for infra monitoring
  frontend/src/api/infraMonitoring/getK8sClustersList.ts
  frontend/src/container/InfraMonitoringK8s/Clusters/K8sClustersList.tsx
  frontend/src/container/InfraMonitoringK8s/Clusters/utils.tsx
  frontend/src/hooks/infraMonitoring/useGetK8sClustersList.ts
Owners: @YounixM

feat: added table column and row logic for the new api response structure for producer overview (#6433)
  frontend/src/api/messagingQueues/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTableUtils.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
Owners: @YounixM

fix: apm to logs and traces corelation timestamps
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
  frontend/src/container/MetricsApplication/Tabs/util.ts
Owners: @srikanthccv

fix: enable fill gaps for error_percentage for apm
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
Owners: @srikanthccv

chore: pr issue verify should only work when PR is opened
  .github/workflows/pr_verify_linked_issue.yml
Owners: @SigNoz/devops

chore: revert github actions changes
  .github/workflows/pr_verify_linked_issue.yml
Owners: @SigNoz/devops

chore(licenses): address comments
  ee/query-service/app/api/license.go
  ee/query-service/app/server.go
  pkg/query-service/app/http_handler.go
Owners: none

chore(licenses): address comments
  ee/query-service/integrations/signozio/response.go
  ee/query-service/integrations/signozio/signozio.go
Owners: none

fix: timerange selected for traces to logs
  frontend/src/container/TraceDetail/SelectedSpanDetails/index.tsx
Owners: @YounixM

chore: deprecate develop branch - use main
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/e2e-k3s.yaml
  .github/workflows/jest-coverage-changes.yml
  .github/workflows/push.yaml
  .github/workflows/sonar.yml
  .github/workflows/staging-deployment.yaml
  .github/workflows/testing-deployment.yaml
  CONTRIBUTING.md
  deploy/README.md
  frontend/.husky/commit-msg
  sample-apps/hotrod/README.md
  sample-apps/hotrod/hotrod-delete.sh
  sample-apps/hotrod/hotrod-install.sh
Owners: @SigNoz/devops, @YounixM

chore: cleanup
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

chore: fix test
  pkg/query-service/tests/integration/filter_suggestions_test.go
Owners: none

fix: ee/query-service/Dockerfile to reduce vulnerabilities
  ee/query-service/Dockerfile
Owners: none

fix(Traces Explorer): prevent duplicate API calls to query_range in traces explorer
  frontend/src/container/TracesExplorer/ListView/index.tsx
  frontend/src/pages/TracesExplorer/Filter/Filter.tsx
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
