Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

fix(QueryBuilder): fix the race condition causing duplicate triggering of initQueryBuilderData
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

fix: improve traces table ux by making the table scrollable
  frontend/src/components/ResizeTable/ResizeTable.tsx
  frontend/src/pages/TracesExplorer/TracesExplorer.styles.scss
Owners: @YounixM

chore: remove explicit scroll.x and modify the existing scroll.x from true to max-content
  frontend/src/components/ResizeTable/ResizeTable.tsx
  frontend/src/container/TracesExplorer/ListView/index.tsx
Owners: @YounixM

fix(Traces Explorer): make trace explorer card full-width when collapsed, resizable when expanded
  frontend/src/pages/TracesExplorer/TracesExplorer.styles.scss
  frontend/src/pages/TracesExplorer/index.tsx
Owners: @YounixM

feat: update tests
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: update unit test
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: address comments
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

chore: address comments
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: add functionality to export dashboard as json from listing page
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

chore: address comments
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

feat: add unit test
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: update unit test
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

chore: add queries with tag attributes v1
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

fix: improve traces table ux by making the table scrollable (#6423)
  frontend/src/container/TracesExplorer/ListView/index.tsx
  frontend/src/pages/TracesExplorer/TracesExplorer.styles.scss
  frontend/src/pages/TracesExplorer/index.tsx
Owners: @YounixM

chore: add queries with tag attributes v1 (#6643)
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

chore: add log events for timezone interactions in date/time picker and timezone adaptation
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
Owners: @YounixM

chore: use tag attributes v2 table (#6616)
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/tests/integration/filter_suggestions_test.go
Owners: none

feat(licenses): deprecate licenses v2 (#6626)
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/app/server.go
  ee/query-service/integrations/signozio/response.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/main.go
  pkg/query-service/app/http_handler.go
Owners: none

fix: unable to remove query tags from the begining
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.tsx
Owners: @YounixM

fix: focus only when the filters dropdown is opened
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.tsx
Owners: @YounixM

fix: used auto focus prop
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.tsx
Owners: @YounixM

feat: api for trace materialization
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/logs/parser.go
  pkg/query-service/app/logs/parser_test.go
  pkg/query-service/app/logs/validator.go
  pkg/query-service/constants/constants.go
  pkg/query-service/interfaces/interface.go
  pkg/query-service/model/response.go
Owners: none

fix: minor changes and cleanup
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/logs/validator.go
Owners: none

fix: unable to remove query tags from the beginning when similar tags present (#6645)
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.tsx
Owners: @YounixM

fix: timerange selected for traces to logs (#6634)
  frontend/src/container/TraceDetail/SelectedSpanDetails/index.tsx
Owners: @YounixM

fix: correlation time stamps for APM to traces and logs (#6632)
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
  frontend/src/container/MetricsApplication/Tabs/util.ts
Owners: @srikanthccv

fix(flag): add missing flag back
  ee/query-service/main.go
Owners: none

fix(flag): add missing flag back (#6647)
  ee/query-service/main.go
Owners: none

fix: fix the mismatch between time range picker placeholder and timerange popover values
  frontend/src/components/CustomTimePicker/RangePickerModal.tsx
Owners: @YounixM

fix: minor fixes
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: update errors
  pkg/query-service/app/http_handler.go
Owners: none

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

fix: jerky behaviour on entering the home page
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/ResourceAttributesFilter/ResourceAttributesFilter.tsx
Owners: @YounixM

feat: handle the retention for login context flow
  frontend/src/AppRoutes/Private.tsx
  frontend/src/constants/localStorage.ts
  frontend/src/container/Login/index.tsx
  frontend/src/container/LogsExplorerViews/index.tsx
Owners: @YounixM

fix: add flags for using trace new schema
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/docker-compose-local.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

chore: add test validating invalid field paths in pipeline operators are rejected
  pkg/query-service/tests/integration/logparsingpipeline_test.go
Owners: none

feat: added API limiting to reduce unnecessary api call for dashboard variables (#6609)
  frontend/src/container/NewDashboard/DashboardVariablesSelection/DashboardVariableSelection.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/VariableItem.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

chore: refactor posted pipelines validation to use a controller method
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/logparsingpipeline/controller.go
Owners: none

fix: run a collector simulation to validate pipeline config being saved
  pkg/query-service/app/logparsingpipeline/controller.go
Owners: none

chore: minor cleanup
  pkg/query-service/app/logparsingpipeline/controller.go
Owners: none
