Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

fix: enrichment using alias
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/constants/constants.go
  pkg/query-service/contextlinks/links.go
  pkg/query-service/utils/logs.go
Owners: none

fix: initialize target to 3 in anomaly detection alert (#6362)
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

feat: added support for filterBy in trace tab such as filterBy spanCount
  pkg/query-service/app/querier/helper.go
  pkg/query-service/app/querier/v2/helper.go
  pkg/query-service/app/queryBuilder/query_builder.go
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/model/v3/v3.go
Owners: none

fix: test file added
  pkg/query-service/utils/logs_test.go
Owners: none

fix: issue with orderby by materialized column
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/logs/v4/query_builder_test.go
Owners: none

fix: tests
  pkg/query-service/app/logs/v4/query_builder_test.go
Owners: none

chore: make the licenses id not null
  ee/query-service/license/sqlite/init.go
Owners: none

Host lists improvement (#6366)
  frontend/src/container/TopNav/DateTimeSelectionV2/config.ts
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfraMonitoringHosts/index.tsx
Owners: @YounixM

feat: added the host detail view (#6267)
  frontend/src/components/HostMetricsDetail/HostMetricDetail.interfaces.ts
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/constants.ts
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
Owners: @YounixM

feat: added error handling and correct api handler for kafka apis
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
Owners: @YounixM

Host containers (#6297)
  frontend/public/Icons/broom.svg
  frontend/public/Icons/infraContainers.svg
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/Processes.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
Owners: @YounixM

style: removed inline styles
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/constants.ts
Owners: @YounixM

feat: added healthcheck and attribute checklist component for Kafka (#6371)
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producers.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added kafka - scenario - 4 (#6370)
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added onboarding detail for consumer setup
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: corrected spelling
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producers.md
Owners: @YounixM

feat: reorders imports correctly
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: added support for instrumentation scope in logs
  frontend/src/container/LogDetailedView/TableView.tsx
  frontend/src/container/LogDetailedView/utils.tsx
  frontend/src/container/MetricsApplication/constant.ts
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.styles.scss
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/Suggestions.styles.scss
  frontend/src/types/api/logs/log.ts
Owners: @YounixM, @srikanthccv

feat: updated the design for Messaging Queue - summary section
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added better logic for switch options and resolved query
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
Owners: @YounixM

feat: resolved comments
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
Owners: @YounixM

refactor: moved the flow to another file
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

refactor(onboarding): components for QuestionBlock structural changes
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

refactor: update class names in OnboardingPageV2 styles
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: integrate invite team members and ingestion key details api
  frontend/public/locales/en/titles.json
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/IngestionDetails/IngestionDetails.tsx
  frontend/src/container/OnboardingV2Container/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingV2Container/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingV2Container/OnboardingV2.styles.scss
  frontend/src/container/OnboardingV2Container/QuestionBlock/QuestionBlock.tsx
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
  frontend/src/utils/app.ts
  frontend/src/utils/downloadFile.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: add onboarding v2 base setup and styles
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: remove unwanted styles
  frontend/src/container/AppLayout/AppLayout.styles.scss
Owners: @YounixM

refactor(onboarding): bem SCSS nested way, this is the way
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
Owners: @YounixM

feat: added logos and fixed links
  frontend/public/Logos/llm-monitoring.svg
  frontend/public/Logos/rds.svg
  frontend/public/Logos/rust.svg
  frontend/public/Logos/vm.svg
  frontend/public/Logos/windows.svg
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

feat: minor ui updates
  frontend/public/locales/en/titles.json
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: update handle select framework logic
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/onboarding-config-with-links.json
Owners: @YounixM

feat: added and fixed links
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

chore: remove old files
  frontend/src/container/AppLayout/index.tsx
Owners: @YounixM

feat(onboarding): question block filterByCategory added
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

feat: onboarding part 3 changes
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/onboarding-config-with-links.json
Owners: @YounixM

refactor: color variable fixes
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
Owners: @YounixM

feat(onboarding): component structure update and style updates
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

feat: update docs links
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
