Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: added generic logic for mq detail tables and consumed for sc-1,2
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added table row clicks func
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added onboarding status api util for attribute data
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

fix: added onboarding setup for producer/consumer for Messaging queues
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producer.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.styles.scss
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/container/OnboardingContainer/utils/dataSourceUtils.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: added onboarding status api with useQueury functions and updated endpoints
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: refactoring and url query changes
  frontend/src/constants/query.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: updated the design for Messaging Queue - summary section
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added healthcheck and attribute checklist component for Kafka
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: fixed producer latency - producer-detail call
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
Owners: @YounixM

feat: added generic table component for scenario 1,3,4
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

fix: polled onboarding status api
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: changed start and end time to nanosecond for api payload
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: added onboarding detail for consumer setup
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: added missing configuration button at overview and onboarding flow
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producers.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added kafka - scenario - 4
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added overview and details table for scenario-3
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: fixed mq-detail page layout and pagination
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

[Snyk] Security upgrade alpine from 3.18.5 to 3.20.3 (#6237)
  pkg/query-service/Dockerfile
Owners: none

chore: github wf update pr labels and block pr until related docs are shipped for the feature
  .github/workflows/docs.yml
Owners: @SigNoz/devops

fix: typo
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

fix: typo (#6334)
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

fix: issues with resource query builder w.r.t quotes (#6318)
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/resource/resource_query_builder.go
  pkg/query-service/app/resource/resource_query_builder_test.go
  pkg/query-service/utils/format.go
Owners: none

fix: attribute enrichment updated and issue in group by
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/enrich_test.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: support for scope in logs old and new qb
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/logs/v3/query_builder.go
  pkg/query-service/app/logs/v3/query_builder_test.go
  pkg/query-service/app/logs/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
  pkg/query-service/model/v3/v3.go
Owners: none

feat: setup for licenses v3 integration
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/license/sqlite/init.go
  ee/query-service/model/license.go
Owners: none

fix: redirect to docs on clicking alert setup guide in create alert page (#6265)
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

fix: issues in group by
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: improve async handling for org onboarding cases
  frontend/src/AppRoutes/Private.tsx
  frontend/src/container/OnboardingContainer/OnboardingContainer.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/SignUp/SignUp.tsx
Owners: @YounixM

chore: enable scenario 4 at staging
  .github/workflows/staging-deployment.yaml
Owners: @SigNoz/devops

fix: enable env at docker compose
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

feat: added some more logic
  ee/query-service/app/api/api.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/license/sqlite/init.go
Owners: none

feat: added missing configuration button at overview and onboarding flow
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producers.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added generic logic for mq detail tables and consumed for sc-1,2
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added kafka - scenario - 4
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: fixed mq-detail page layout and pagination
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: added onboarding status api with useQueury functions and updated endpoints
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: added onboarding detail for consumer setup
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: added onboarding status api util for attribute data
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added overview and details table for scenario-3
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: updated the design for Messaging Queue - summary section
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
