Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

Chore/qs use collector simulator from signoz otel collector (#6539)
  pkg/query-service/app/logparsingpipeline/preview.go
  pkg/query-service/collectorsimulator/collectorsimulator.go
  pkg/query-service/collectorsimulator/inmemoryexporter/config.go
  pkg/query-service/collectorsimulator/inmemoryexporter/config_test.go
  pkg/query-service/collectorsimulator/inmemoryexporter/exporter.go
  pkg/query-service/collectorsimulator/inmemoryexporter/exporter_test.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/config.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/config_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/receiver.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/receiver_test.go
  pkg/query-service/collectorsimulator/logs.go
  pkg/query-service/collectorsimulator/logs_test.go
Owners: none

chore(signoz): pin versions: SigNoz 0.60.0, SigNoz OtelCollector 0.111.13
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

feat: improve empty hosts, incorrect metrics and no filter views (#6530)
  frontend/public/locales/en-GB/infraMonitoring.json
  frontend/public/locales/en/infraMonitoring.json
  frontend/src/api/infraMonitoring/getHostLists.ts
  frontend/src/components/HostMetricsDetail/Containers/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetails.tsx
  frontend/src/components/HostMetricsDetail/Processes/Processes.styles.scss
  frontend/src/components/HostMetricsDetail/Processes/Processes.tsx
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitListFragment.styles.scss
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitlistFragment.tsx
  frontend/src/container/InfraMonitoringHosts/HostsEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/SideNav/NavItem/NavItem.tsx
  frontend/src/container/SideNav/SideNav.styles.scss
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/SideNav/sideNav.types.ts
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

feat: handle keyboard navigations for column selection in logs explorer options view
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.styles.scss
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix[FE]: fix the update view button not visible on changes to columns in logs and traces list view
  frontend/src/components/ExplorerCard/types.ts
  frontend/src/components/ExplorerCard/utils.ts
  frontend/src/container/ExplorerOptions/ExplorerOptions.tsx
  frontend/src/providers/QueryBuilder.tsx
  frontend/src/types/common/queryBuilder.ts
Owners: @YounixM

chore: remove console log
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

feat: handle keyboard navigations for column selection in logs explor… (#6548)
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.styles.scss
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix: explicit mouse move event user action
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix: handle next element selection on click
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix: handle the last 0 case
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix: handle search reset
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix: explicit mouse move event user action (#6549)
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

Add Kafka Server Monitoring Dashboard
  CONTRIBUTING.md
  dashboards/kafka_server_monitoring_dashboard.json
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

fix: update default alert ch queries for traces and logs
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

fix: add dashbard names and update logs count in telemetry
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

fix: add dashbard names and update logs count in telemetry (#6553)
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

fix: use service.name instead of peer.service
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

configuration for the server
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
Owners: @SigNoz/devops

fix: fixed typo in metric view dashboard title
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
Owners: @YounixM

fix: fixed typo in metric view dashboard title (#6557)
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
Owners: @YounixM

feat: added new API endpoint for fetching the active license
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
Owners: none

feat: add setup for apis on frontend
  frontend/src/AppRoutes/index.tsx
  frontend/src/api/licensesV3/getActive.ts
  frontend/src/constants/reactQueryKeys.ts
  frontend/src/hooks/useActiveLicenseV3/useActiveLicenseV3.tsx
  frontend/src/types/api/licensesV3/getActive.ts
Owners: @YounixM

feat: frontend infrastructure changes for app context and workspace suspended
  ee/query-service/app/api/license.go
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/container/TopNav/DateTimeSelection/config.ts
  frontend/src/container/TopNav/DateTimeSelectionV2/config.ts
  frontend/src/hooks/useActiveLicenseV3/useActiveLicenseV3.tsx
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.styles.scss
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/types/api/licensesV3/getActive.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: added workspace suspended component
  frontend/public/locales/en-GB/failedPayment.json
  frontend/public/locales/en/failedPayment.json
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.styles.scss
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.tsx
Owners: @YounixM

feat: send back to application if workspace is not suspended
  frontend/src/AppRoutes/Private.tsx
  frontend/src/container/AppLayout/index.tsx
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.tsx
  frontend/src/types/api/licensesV3/getActive.ts
Owners: @YounixM

feat: added the missing creative
  frontend/public/Images/feature-graphic-correlation.svg
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.styles.scss
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.tsx
Owners: @YounixM

chore: only move to suspended state when state is payment_failed
  frontend/src/AppRoutes/Private.tsx
  frontend/src/pages/WorkspaceSuspended/WorkspaceSuspended.tsx
  frontend/src/types/api/licensesV3/getActive.ts
Owners: @YounixM

feat: add support for timezone in dashboard list
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

fix(docker): otel-collector-migrator command fixed in docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
Owners: @SigNoz/devops

feat: add support for timezone adjusted created/updated at in alert rules list page
  frontend/src/components/ResizeTable/TableComponent/Time.tsx
Owners: @YounixM

feat: add support for timezone adjusted created at in timeline table of alert history page
  frontend/src/container/AlertHistory/Timeline/Table/Table.tsx
  frontend/src/container/AlertHistory/Timeline/Table/useTimelineTable.tsx
  frontend/src/container/TracesTableComponent/TracesTableComponent.tsx
Owners: @YounixM

feat: add support for timezone adjusted Firing Since in triggered alerts page
  frontend/src/container/TriggeredAlerts/NoFilterTable.tsx
Owners: @YounixM

feat: add support for timezone adjusted Timestamp for List Panel of dashboard
  frontend/src/container/LogsPanelTable/LogsPanelComponent.tsx
  frontend/src/container/LogsPanelTable/utils.tsx
Owners: @YounixM

feat: add support for timezone adjusted First/Last Seen in exceptions list page
  frontend/src/container/AllError/index.tsx
Owners: @YounixM

feat: add support for timezone adjusted date in exception details page
  frontend/src/container/ErrorDetails/index.tsx
Owners: @YounixM

feat: add support for timezone adjusted Valid From/To in History tab of Licences
  frontend/src/container/Licenses/ListLicenses.tsx
Owners: @YounixM

chore: rename formatTimestamp -> formatTimezoneAdjustedTimestamp
  frontend/src/components/Logs/ListLogView/index.tsx
  frontend/src/components/Logs/RawLogView/index.tsx
  frontend/src/components/Logs/TableView/useTableView.tsx
  frontend/src/components/ResizeTable/TableComponent/Time.tsx
  frontend/src/container/AlertHistory/Timeline/Table/Table.tsx
  frontend/src/container/AlertHistory/Timeline/Table/useTimelineTable.tsx
  frontend/src/container/AllError/index.tsx
  frontend/src/container/ErrorDetails/index.tsx
  frontend/src/container/Licenses/ListLicenses.tsx
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/LogDetailedView/TableView/TableViewActions.tsx
  frontend/src/container/LogsPanelTable/LogsPanelComponent.tsx
  frontend/src/container/LogsPanelTable/utils.tsx
  frontend/src/container/PipelinePage/Layouts/ChangeHistory/DeploymentTime.tsx
  frontend/src/container/PipelinePage/PipelineListsView/Preview/components/LogsList/index.tsx
  frontend/src/container/PipelinePage/PipelineListsView/TableComponents/index.tsx
  frontend/src/container/TracesExplorer/ListView/index.tsx
  frontend/src/container/TracesExplorer/ListView/utils.tsx
  frontend/src/container/TracesTableComponent/TracesTableComponent.tsx
  frontend/src/container/TriggeredAlerts/NoFilterTable.tsx
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
  frontend/src/pages/SaveView/index.tsx
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

feat: add timezone support to logs explorer chart (built with Chartjs)
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/utils.ts
Owners: @YounixM

fix: make x axis and tooltip time format consistent in uPlot graphs (#6523)
  frontend/src/lib/uPlotLib/plugins/tooltipPlugin.ts
Owners: @YounixM
