Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

feat: added support for instrumentation scope in logs
  frontend/src/container/LogDetailedView/TableView.tsx
  frontend/src/container/LogDetailedView/utils.tsx
  frontend/src/container/MetricsApplication/constant.ts
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.styles.scss
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/Suggestions.styles.scss
  frontend/src/types/api/logs/log.ts
Owners: @YounixM, @srikanthccv

chore: remove console logs
  frontend/src/container/LogDetailedView/TableView.tsx
Owners: @YounixM

feat: added onboarding detail for consumer setup (#6372)
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: updated the design for Messaging Queue - summary section (#6319)
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: fixed multiple fixes and chores in kafka 2.0
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: fixed producer latency - producer-detail call
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
Owners: @YounixM

feat: fixed mq-detail page layout and pagination
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: added kafka - scenario - 4 - drop rate table
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
Owners: @YounixM

feat: added api, new table and traceid redirection
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/EvaluationTimeSelector.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/dropRateViewUtils.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
Owners: @YounixM

feat: code refactor
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
Owners: @YounixM

fix: the logic for rendering prefix
  frontend/src/components/Logs/LogStateIndicator/utils.test.ts
  frontend/src/container/QueryBuilder/filters/AggregatorFilter/AggregatorFilter.tsx
  frontend/src/container/QueryBuilder/filters/GroupByFilter/GroupByFilter.tsx
  frontend/src/container/QueryBuilder/filters/GroupByFilter/utils.ts
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/OptionRenderer.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/index.tsx
  frontend/src/container/QueryBuilder/type.ts
  frontend/src/hooks/queryBuilder/useOptions.ts
Owners: @YounixM

feat: address review comments
  frontend/src/container/QueryBuilder/filters/GroupByFilter/utils.ts
Owners: @YounixM

Show host metrics panels in metrics tab. (#6306)
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/Processes.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
Owners: @YounixM

feat: cosmetic changes
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/model/license.go
Owners: none

Metrics time selection (#6360)
  frontend/src/components/HostMetricsDetail/HostMetricDetail.interfaces.ts
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricTraces/utils.ts
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/constants.ts
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
Owners: @YounixM

feat: cosmetic changes
  ee/query-service/integrations/signozio/signozio.go
Owners: none

feat: handle routing after onboarding
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/OnboardingV2.styles.scss
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

feat: update zeus URL
  ee/query-service/constants/constants.go
  ee/query-service/integrations/signozio/signozio.go
Owners: none

feat: added filters and time selection in traces tab
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
Owners: @YounixM

fix: test notification missing for anomaly alert
  ee/query-service/app/server.go
  ee/query-service/rules/manager.go
  pkg/query-service/model/response.go
  pkg/query-service/rules/api_params.go
  pkg/query-service/rules/api_params_test.go
  pkg/query-service/rules/db.go
  pkg/query-service/rules/manager.go
  pkg/query-service/rules/templates.go
  pkg/query-service/rules/templates_test.go
  pkg/query-service/rules/test_notification.go
Owners: none

feat: support for scope in logs old and new qb (#6339)
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/logs/v3/query_builder.go
  pkg/query-service/app/logs/v3/query_builder_test.go
  pkg/query-service/app/logs/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
  pkg/query-service/model/v3/v3.go
Owners: none

feat: corrected the handling of relativeTime as null in alertHistory page
  frontend/src/pages/AlertDetails/hooks.tsx
Owners: @YounixM

chore: license testing fixes
  ee/query-service/integrations/signozio/response.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

feat: added license status and category handling for query-service
  ee/query-service/app/api/license.go
  ee/query-service/model/license.go
  ee/query-service/model/plans.go
Owners: none

feat: corrected the handling of relativeTime as null in alertHistory page (#6392)
  frontend/src/pages/AlertDetails/hooks.tsx
Owners: @YounixM

fix: order by issue in old explorer as well
  pkg/query-service/app/logs/v3/query_builder.go
  pkg/query-service/app/logs/v3/query_builder_test.go
Owners: none

feat: added support for instrumentation scope in logs (#6378)
  frontend/src/components/Logs/LogStateIndicator/utils.test.ts
  frontend/src/container/LogDetailedView/utils.tsx
  frontend/src/container/MetricsApplication/constant.ts
  frontend/src/container/QueryBuilder/filters/AggregatorFilter/AggregatorFilter.tsx
  frontend/src/container/QueryBuilder/filters/GroupByFilter/GroupByFilter.tsx
  frontend/src/container/QueryBuilder/filters/GroupByFilter/utils.ts
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/OptionRenderer.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearch/index.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.styles.scss
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/Suggestions.styles.scss
  frontend/src/container/QueryBuilder/type.ts
  frontend/src/hooks/queryBuilder/useOptions.ts
  frontend/src/types/api/logs/log.ts
Owners: @YounixM, @srikanthccv

feat: added support for filterBy in trace tab such as filterBy spanCount
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/constants/constants.go
Owners: none

feat: resolved comments
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
Owners: @YounixM

feat: added support for filterBy in trace tab such as filterBy spanCount
  pkg/query-service/app/traces/v3/query_builder_test.go
Owners: none

feat: added support for filterBy in trace tab such as filterBy spanCount
  pkg/query-service/app/traces/v3/query_builder_test.go
Owners: none

chore: update the style similar to dashboard rename
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/RenameModal.styles.scss
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/RenameModal.tsx
Owners: @YounixM

refactor: remove buttonProps
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/RenameModal.tsx
Owners: @YounixM

chore: pass active route with RouteTab's onChangeHandler
  frontend/src/components/RouteTab/index.tsx
  frontend/src/components/RouteTab/types.ts
Owners: @YounixM

chore: add log events to alert history page
  frontend/src/container/AlertHistory/Statistics/TopContributorsCard/TopContributorsRows.tsx
  frontend/src/container/AlertHistory/Timeline/Table/Table.tsx
  frontend/src/pages/AlertDetails/AlertDetails.tsx
Owners: @YounixM

chore: setup router compatibility package (#6285)
  frontend/package.json
  frontend/src/AppRoutes/index.tsx
  frontend/yarn.lock
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

fix: adding the key requires double enter before it gets added as label key after the first label (#6296)
  frontend/src/container/FormAlertRules/labels/index.tsx
Owners: @YounixM

feat: added kafka - scenario - 4 - drop rate table (#6380)
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/EvaluationTimeSelector.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/dropRateViewUtils.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
Owners: @YounixM

fix: kafka - misc fix and features (#6379)
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM
