Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

chore: change timezone item from div to button
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
Owners: @YounixM

feat: display timezone in timepicker input
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: fix the typo
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.styles.scss
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/container/MySettings/index.tsx
Owners: @YounixM

Trace static fields and structs for trace v4. (#6469)
  pkg/query-service/constants/constants.go
  pkg/query-service/model/trace.go
Owners: none

fix: don't focus on time picker when timezone is clicked
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

feat: update clickhouse reader to support new trace schema
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: minor fixes
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: minor fixes
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

feat(signoz): add backwards compatibility function
  cmd/signoz/main.go
  conf/defaults.yaml
Owners: none

feat(key): enable edit access for gateway
  ee/query-service/app/api/api.go
Owners: none

feat(key): enable edit access for gateway (#6480)
  ee/query-service/app/api/api.go
Owners: none

chore: exactly match the list licenses v2 structure with FF on
  ee/query-service/app/api/license.go
  ee/query-service/license/manager.go
  ee/query-service/model/plans.go
Owners: none

chore: exactly match the list licenses v2 structure with FF on (#6481)
  ee/query-service/app/api/license.go
  ee/query-service/license/manager.go
  ee/query-service/model/plans.go
Owners: none

fix: fix the issue of timezone breaking for browser and utc timezones
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

docs: add Chinese Traditional documentation and comparisons
  README.md
  README.zh-tw.md
Owners: none

docs: update README links for multilingual support
  README.zh-cn.md
  README.zh-tw.md
Owners: none

chore: add log events to alert history page (#6396)
  frontend/src/components/RouteTab/index.tsx
  frontend/src/components/RouteTab/types.ts
  frontend/src/container/AlertHistory/Statistics/TopContributorsCard/TopContributorsRows.tsx
  frontend/src/container/AlertHistory/Timeline/Table/Table.tsx
  frontend/src/pages/AlertDetails/AlertDetails.tsx
Owners: @YounixM

fix: display the timezone in timepicker hint 'You are at'
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

feat: create a context for timezone and handle the timezone configuration
  frontend/src/constants/localStorage.ts
  frontend/src/index.tsx
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

chore: improve timezoneUtils by adding a function to get browser timezone
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

feat: timezone setting functionality in timepicker, timezone picker, and timezone preferences
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
Owners: @YounixM

fix: if timezone is undefined, fallback to browser time zone
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

fix: get active timezone in timepicker hint
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: update http proxy middleware
  frontend/package.json
  frontend/src/setupProxy.js
  frontend/yarn.lock
Owners: @YounixM

chore: update http proxy middleware (#6486)
  frontend/package.json
  frontend/src/setupProxy.js
  frontend/yarn.lock
Owners: @YounixM

chore: remove optional parameter from get attributes and groupby interfaces
  frontend/src/container/QueryBuilder/filters/GroupByFilter/GroupByFilter.interfaces.ts
  frontend/src/types/api/queryBuilder/getAttributeKeys.ts
Owners: @YounixM

fix: updated folder name and structure
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
Owners: @YounixM

Fix for running signoz-schema-migrator under docker-swarm
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
Owners: @SigNoz/devops

feat: update ui as per the designs
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/InfraMonitoringHosts/HostsListControls.tsx
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/InfraMonitoringHosts/index.tsx
  frontend/src/container/InfraMonitoringHosts/utils.tsx
  frontend/src/pages/InfrastructureMonitoring/InfrastructureMonitoring.styles.scss
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.59.0, SigNoz OtelCollector 0.111.9
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

fix: address comments
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: address comments
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: add to serviceoverview function
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/constants/constants.go
Owners: none

fix: add changes to overview function
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/constants/constants.go
Owners: none

fix: add changes to overview function
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: add changes to overview function
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: use hardcoded true
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

chore: store timezone string in local storage instead of object
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

chore: overall improvements
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

fix: remove service overview function
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/parser.go
  pkg/query-service/interfaces/interface.go
Owners: none
