Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

fix: fix the race condition resulting in switching between views not working properly
  frontend/src/hooks/useUrlQueryData.ts
Owners: @YounixM

fix: send float number in args array in case of timeshift formula
  frontend/src/container/QueryBuilder/components/QueryFunctions/QueryFunctions.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/utils.ts
  frontend/src/types/api/queryBuilder/queryBuilderData.ts
Owners: @YounixM

fix: add v4 to default alert objects to fix the issue of incorrect query response due to v3 endpoint
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

Revert "fix: add v4 to the new alert payload (#6090)"
  frontend/src/api/alerts/create.ts
Owners: @YounixM

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/traces/v3/query_builder.go
Owners: none

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

chore: bump signoz-otel-collector version
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

chore: bump signoz-otel-collector version (#6290)
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

feat: handle errors for profiles and invite users api
  frontend/public/locales/en/titles.json
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
  frontend/src/utils/error.ts
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: handle redirection after onboarding
  frontend/public/locales/en/titles.json
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: maintain state and add log events
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

feat: add questionaire components (#5998)
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.styles.scss
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: integrate update profile and invite users api
  frontend/src/api/apiV1.ts
  frontend/src/api/index.ts
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/OrganizationSettings/PendingInvitesContainer/index.tsx
  frontend/src/types/api/onboarding/types.ts
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: feedback updates
  frontend/src/api/preferences/updateOrgPreference.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/pages/SignUp/SignUp.tsx
  frontend/src/types/api/preferences/userOrgPreferences.ts
Owners: @YounixM

fix: adding the key requires double enter before it gets added as label key after the first label
  frontend/src/container/FormAlertRules/labels/index.tsx
Owners: @YounixM

feat: completed containers and processes details view
  frontend/public/Icons/broom.svg
  frontend/public/Icons/infraContainers.svg
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/Processes.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
Owners: @YounixM

feat: feedback updates
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.57.0
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

chore: go mod tidy
  go.mod
  go.sum
Owners: none

chore: bump signoz-otel-collector dependency version to 0.111.5
  go.mod
  go.sum
Owners: none

chore: logs filter suggestions: update import for ResourceHierarchy from signoz-otel-collector
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
Owners: none

feat: update to use v2 instance
  frontend/src/api/index.ts
Owners: @YounixM

feat: handle linear to exponential conversion for logs, services and hosts
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
Owners: @YounixM

Chore: bump signoz otel collector dependency to 0.111.5 (#6302)
  go.mod
  go.sum
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
Owners: none

chore: bump signoz-otel-collector version (#6290)
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/traces/v3/query_builder.go
Owners: none

Chore: bump signoz otel collector dependency to 0.111.5 (#6302)
  go.mod
  go.sum
  pkg/query-service/app/clickhouseReader/filter_suggestions.go
Owners: none

fix: fixed the step interval which was being perculated to list view (#6260)
  pkg/query-service/app/querier/querier_test.go
  pkg/query-service/app/querier/v2/querier_test.go
  pkg/query-service/app/traces/v3/query_builder.go
Owners: none

chore: move hostname to resource attributes for logs qf
  frontend/src/pages/LogsExplorer/utils.tsx
Owners: @YounixM

chore: fix the key for hostname
  frontend/src/pages/LogsExplorer/utils.tsx
Owners: @YounixM

fix: pkg/query-service/Dockerfile to reduce vulnerabilities
  pkg/query-service/Dockerfile
Owners: none

feat: added host metrics panels in metrics tabs
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/config.ts
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
Owners: @YounixM

refactor: removed inline styles from host containers and processes tabs
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/Processes.tsx
Owners: @YounixM

chore: move hostname to resource attributes for logs qf (#6303)
  frontend/src/pages/LogsExplorer/utils.tsx
Owners: @YounixM

feat: handle invite user flows
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: handle onboarding visibility
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/store/reducers/app.ts
  frontend/src/styles.scss
  frontend/src/types/actions/app.ts
  frontend/src/types/api/preferences/userOrgPreferences.ts
  frontend/src/types/reducer/app.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

fix: issues with resource query builder w.r.t quotes
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/resource/resource_query_builder.go
  pkg/query-service/app/resource/resource_query_builder_test.go
  pkg/query-service/utils/format.go
Owners: none

fix: add support for {{.Labels.<key>}} with dots in `key` for template (#6282)
  pkg/query-service/rules/templates.go
  pkg/query-service/rules/templates_test.go
Owners: none

feat: integrate update profile and invite users api
  frontend/src/api/apiV1.ts
  frontend/src/api/index.ts
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/OrganizationSettings/PendingInvitesContainer/index.tsx
  frontend/src/types/api/onboarding/types.ts
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
