Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SigNoz/frontend, @YounixM, @srikanthccv, @SigNoz/devops, @grandwizard28, @vikrantgupta25

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @SigNoz/frontend @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
.github @SigNoz/devops
/pkg/config/ @grandwizard28
/pkg/errors/ @grandwizard28
/pkg/factory/ @grandwizard28
/pkg/types/ @grandwizard28
.golangci.yml @grandwizard28
/pkg/zeus/ @vikrantgupta25
/pkg/licensing/ @vikrantgupta25
/pkg/sqlmigration/ @vikrantgupta25
/ee/zeus/ @vikrantgupta25
/ee/licensing/ @vikrantgupta25
/ee/sqlmigration/ @vikrantgupta25

chore: remove dev env check (#7994)
  frontend/src/container/TraceWaterfall/TraceWaterfallStates/Success/Success.tsx
  frontend/src/pages/TraceDetailV2/index.tsx
  frontend/src/pages/TracesModulePage/TracesModulePage.tsx
Owners: @SigNoz/frontend, @YounixM

fix: delete existing agents in migration
  pkg/sqlmigration/041_update_agents.go
Owners: @vikrantgupta25

fix: delete existing agents in migration (#8289)
  pkg/sqlmigration/041_update_agents.go
Owners: @vikrantgupta25

feat: enable keyboard shortcuts page for all
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/Settings/utils.ts
Owners: @SigNoz/frontend, @YounixM

feat: show billing , settings to admin when workspace is blocked
  frontend/src/AppRoutes/Private.tsx
  frontend/src/container/SideNav/SideNav.styles.scss
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/Settings/utils.ts
Owners: @SigNoz/frontend, @YounixM

feat: remove duplicated option
  frontend/src/pages/Settings/utils.ts
Owners: @SigNoz/frontend, @YounixM

fix: json query parse string int
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/logs/v3/enrich_query_test.go
Owners: none

chore: minor
  pkg/query-service/app/logs/v3/enrich_query.go
Owners: none

feat: trace and logs explorer fixes
  frontend/src/api/v5/queryRange/convertV5Response.ts
  frontend/src/api/v5/queryRange/prepareQueryRangePayloadV5.ts
  frontend/src/constants/query.ts
  frontend/src/container/LogExplorerQuerySection/index.tsx
  frontend/src/hooks/useHandleExplorerTabChange.ts
  frontend/src/lib/query/createTableColumnsFromQuery.ts
  frontend/src/pages/TracesExplorer/index.tsx
Owners: @SigNoz/frontend, @YounixM

Update pkg/query-service/app/logs/v3/enrich_query_test.go
  pkg/query-service/app/logs/v3/enrich_query_test.go
Owners: none

fix: recalculate start and end time only for relative time ranges
  frontend/src/container/LogsExplorerViews/index.tsx
Owners: @SigNoz/frontend, @YounixM

feat: show billing , settings to admin when workspace is blocked (#8291)
  frontend/src/AppRoutes/Private.tsx
  frontend/src/container/SideNav/SideNav.styles.scss
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/pages/Settings/Settings.tsx
  frontend/src/pages/Settings/utils.ts
Owners: @SigNoz/frontend, @YounixM

fix: ui fixes
  frontend/src/components/QueryBuilderV2/QueryBuilderV2.tsx
  frontend/src/components/QueryBuilderV2/QueryV2/QueryAggregation/QueryAggregationSelect.tsx
  frontend/src/container/MetricsExplorer/Explorer/Explorer.tsx
  frontend/src/container/TracesExplorer/QuerySection/index.tsx
  frontend/src/pages/LogsExplorer/index.tsx
Owners: @SigNoz/frontend, @YounixM

fix: JSON Query parse string int value (#8292)
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/app/logs/v3/enrich_query_test.go
Owners: none

test(ChangelogModal): add unit tests for scroll functionality and data rendering
  frontend/src/components/ChangelogModal/ChangelogModal.tsx
  frontend/src/components/ChangelogModal/__test__/ChangelogModal.test.tsx
Owners: @SigNoz/frontend, @YounixM

style(ChangelogRenderer): format SCSS for improved readability
  frontend/src/components/ChangelogModal/ChangelogModal.tsx
  frontend/src/components/ChangelogModal/components/ChangelogRenderer.styles.scss
Owners: @SigNoz/frontend, @YounixM

test(ChangelogModal, ChangelogRenderer): refactor tests
  frontend/src/components/ChangelogModal/__test__/ChangelogModal.test.tsx
  frontend/src/components/ChangelogModal/__test__/ChangelogRenderer.test.tsx
Owners: @SigNoz/frontend, @YounixM

feat(SideNav): integrate ChangelogModal and manage its visibility state
  frontend/src/container/SideNav/SideNav.tsx
Owners: @SigNoz/frontend, @YounixM

feat(changelog): implement ChangelogModal and ChangelogRenderer components with styles
  frontend/src/components/ChangelogModal/ChangelogModal.styles.scss
  frontend/src/components/ChangelogModal/ChangelogModal.tsx
  frontend/src/components/ChangelogModal/components/ChangelogRenderer.styles.scss
  frontend/src/components/ChangelogModal/components/ChangelogRenderer.tsx
  frontend/src/types/api/changelog/getChangelogByVersion.ts
  frontend/src/utils/dateUtils.ts
Owners: @SigNoz/frontend, @YounixM

test(ChangelogRenderer): add unit tests for rendering changelog details
  frontend/src/components/ChangelogModal/__test__/ChangelogRenderer.test.tsx
Owners: @SigNoz/frontend, @YounixM

feat(changelog): refactor changelog handling and integrate into app state
  frontend/src/api/changelog/getChangelogByVersion.ts
  frontend/src/components/ChangelogModal/ChangelogModal.tsx
  frontend/src/components/ChangelogModal/components/ChangelogRenderer.tsx
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/store/reducers/app.ts
  frontend/src/types/actions/app.ts
  frontend/src/types/api/changelog/getChangelogByVersion.ts
  frontend/src/types/reducer/app.ts
Owners: @SigNoz/frontend, @YounixM

test(dateUtils): add unit tests for formatDate utility
  frontend/src/utils/__tests__/dateUtils.test.ts
Owners: @SigNoz/frontend, @YounixM

chore(changelog): fixed pr review changes
  frontend/src/components/ChangelogModal/ChangelogModal.styles.scss
  frontend/src/components/ChangelogModal/ChangelogModal.tsx
  frontend/src/types/api/changelog/getChangelogByVersion.ts
Owners: @SigNoz/frontend, @YounixM

feat(changelog): add getChangelogByVersion API and related types
  frontend/src/api/changelog/getChangelogByVersion.ts
  frontend/src/types/api/changelog/getChangelogByVersion.ts
Owners: @SigNoz/frontend, @YounixM

fix: handle multi arg aggregation
  frontend/src/components/QueryBuilderV2/QueryV2/QueryAddOns/HavingFilter/HavingFilter.tsx
  frontend/src/components/QueryBuilderV2/QueryV2/QueryAggregation/QueryAggregation.styles.scss
  frontend/src/components/QueryBuilderV2/QueryV2/QueryAggregation/QueryAggregationSelect.tsx
Owners: @SigNoz/frontend, @YounixM
