Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

chore: logging
  frontend/src/AppRoutes/utils.ts
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

feat: add timezone support to ingestion settings list page and alerts page when groupe filter is applied (#6570)
  frontend/src/container/IngestionSettings/MultiIngestionSettings.tsx
  frontend/src/container/TriggeredAlerts/FilteredTable/ExapandableRow.tsx
Owners: @YounixM

feat: add timezone support to logs explorer chart (built with Chartjs) (#6566)
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/utils.ts
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
Owners: @YounixM

feat: apply timezone to the date/time in tabular data throughout the app (#6565)
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/utils.ts
  frontend/src/components/Logs/ListLogView/index.tsx
  frontend/src/components/Logs/RawLogView/index.tsx
  frontend/src/components/Logs/TableView/useTableView.tsx
  frontend/src/components/ResizeTable/TableComponent/Time.tsx
  frontend/src/container/AlertHistory/Timeline/Table/Table.tsx
  frontend/src/container/AlertHistory/Timeline/Table/useTimelineTable.tsx
  frontend/src/container/AllError/index.tsx
  frontend/src/container/ErrorDetails/index.tsx
  frontend/src/container/IngestionSettings/MultiIngestionSettings.tsx
  frontend/src/container/Licenses/ListLicenses.tsx
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/LogDetailedView/TableView/TableViewActions.tsx
  frontend/src/container/LogsPanelTable/LogsPanelComponent.tsx
  frontend/src/container/LogsPanelTable/utils.tsx
  frontend/src/container/PipelinePage/Layouts/ChangeHistory/DeploymentTime.tsx
  frontend/src/container/PipelinePage/PipelineListsView/Preview/components/LogsList/index.tsx
  frontend/src/container/PipelinePage/PipelineListsView/TableComponents/index.tsx
  frontend/src/container/TracesExplorer/ListView/index.tsx
  frontend/src/container/TracesExplorer/ListView/utils.tsx
  frontend/src/container/TracesTableComponent/TracesTableComponent.tsx
  frontend/src/container/TriggeredAlerts/FilteredTable/ExapandableRow.tsx
  frontend/src/container/TriggeredAlerts/NoFilterTable.tsx
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
  frontend/src/lib/uPlotLib/plugins/tooltipPlugin.ts
  frontend/src/pages/SaveView/index.tsx
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

feat: log the create new dashboard permissions
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

chore: capture log messages in sentry
  frontend/src/AppRoutes/utils.ts
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

feat: updated the logic for variable update queue
  frontend/src/container/NewDashboard/DashboardVariablesSelection/DashboardVariableSelection.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/VariableItem.tsx
  frontend/src/container/NewDashboard/DashboardVariablesSelection/util.ts
Owners: @YounixM

chore: comments for side nav issues
  frontend/src/container/SideNav/SideNav.tsx
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.61.0, SigNoz OtelCollector 0.111.14
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

fix: handle edge case for logs column options menu navigation
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

feat: add functionality to export dashboard as json from listing page
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

fix: enable smart trace detail
  ee/query-service/app/api/traces.go
Owners: none

chore: clickhouse sql support for v3
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/clickhouseReader/wrapper.go
  pkg/query-service/app/querier/querier.go
Owners: none

fix: enable smart trace detail (#6596)
  ee/query-service/app/api/traces.go
Owners: none

feat: address comments
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

feat: setup the app context to fetch users,licenses and feature flags
  frontend/src/AppRoutes/index.tsx
  frontend/src/constants/localStorage.ts
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/hooks/useActiveLicenseV3/useActiveLicenseV3.tsx
  frontend/src/hooks/useLicense/useLicense.tsx
  frontend/src/hooks/user/useGetUser.ts
  frontend/src/index.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/types.ts
  frontend/src/providers/App/utils.ts
Owners: @YounixM

chore: replace the 'Get started' CTA with 'New source'
  frontend/src/container/SideNav/SideNav.tsx
Owners: @YounixM

refactor(LogsFormatOptionsMenu): improve keyboard navigation and event handling
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

feat: added global event listeners for after_login event
  frontend/src/AppRoutes/utils.ts
  frontend/src/api/utils.ts
  frontend/src/hooks/useActiveLicenseV3/useActiveLicenseV3.tsx
  frontend/src/hooks/useGlobalEventListener.ts
  frontend/src/hooks/useLicense/useLicense.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/types/global.d.ts
Owners: @YounixM

fix(LogsFormatOptionsMenu): enhance accessibility and focus handling
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.styles.scss
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix(LogsFormatOptionsMenu): prevent action on Enter key when no option is selected
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

fix(LogsFormatOptionsMenu): handle the incorrect navigation due to previously selected option
  frontend/src/components/LogsFormatOptionsMenu/LogsFormatOptionsMenu.tsx
Owners: @YounixM

feat: remove redux from app state and private route
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/types.ts
Owners: @YounixM

feat: syncronize the approutes file
  frontend/src/AppRoutes/index.tsx
  frontend/src/hooks/useGetFeatureFlag.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/types.ts
Owners: @YounixM

feat: cleanup the private routes
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/api/index.ts
Owners: @YounixM

feat: handle login and logout
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/utils.ts
  frontend/src/api/index.ts
  frontend/src/api/utils.ts
  frontend/src/container/Login/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/hooks/user/useGetUser.ts
  frontend/src/pages/Login/index.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/types/global.d.ts
Owners: @YounixM

feat: cleanup the app layout file
  frontend/src/components/ChatSupportGateway/ChatSupportGateway.tsx
  frontend/src/components/LaunchChatSupport/LaunchChatSupport.tsx
  frontend/src/container/AppLayout/index.tsx
Owners: @YounixM

feat: cleanup and syncronize side nav item
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/SideNav.tsx
Owners: @YounixM

fix: minor small re-render issue
  frontend/src/container/SideNav/SideNav.tsx
Owners: @YounixM

chore: address comments
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
Owners: @YounixM

feat: parallel processing for sync calls for faster bootup of application
  frontend/src/AppRoutes/index.tsx
  frontend/src/AppRoutes/utils.ts
  frontend/src/api/user/getUser.ts
  frontend/src/hooks/analytics/useAnalytics.tsx
  frontend/src/hooks/useActiveLicenseV3/useActiveLicenseV3.tsx
  frontend/src/hooks/useGetFeatureFlag.tsx
  frontend/src/hooks/useLicense/useLicense.tsx
  frontend/src/hooks/user/useGetUser.ts
  frontend/src/providers/App/App.tsx
Owners: @YounixM

feat: some refactoring for private routes
  frontend/src/AppRoutes/Private.tsx
  frontend/src/providers/App/App.tsx
Owners: @YounixM

fix: entire application too much re-rendering
  frontend/src/AppRoutes/Private.tsx
  frontend/src/AppRoutes/index.tsx
  frontend/src/providers/App/App.tsx
Owners: @YounixM

feat: some more corrections
  frontend/src/container/FormAlertRules/ChartPreview/index.tsx
  frontend/src/container/ListOfDashboard/ImportJSON/index.tsx
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
  frontend/src/container/MetricsApplication/Tabs/Overview/ServiceOverview.tsx
  frontend/src/container/ServiceApplication/index.tsx
Owners: @YounixM, @srikanthccv

fix: add link to docs
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

fix: add alias for service name
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

feat: fix all the files except signup
  frontend/src/components/ReleaseNote/Releases/ReleaseNote0120.tsx
  frontend/src/container/FormAlertChannels/index.tsx
  frontend/src/container/FormAlertRules/index.tsx
  frontend/src/container/ListAlertRules/DeleteAlert.tsx
  frontend/src/container/MySettings/UserInfo/index.tsx
  frontend/src/container/NewWidget/index.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/OrganizationSettings/AuthDomains/AddDomain/index.tsx
  frontend/src/container/OrganizationSettings/AuthDomains/index.tsx
  frontend/src/container/OrganizationSettings/DisplayName/index.tsx
  frontend/src/container/OrganizationSettings/index.tsx
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/types.ts
  frontend/src/utils/app.ts
Owners: @YounixM

feat: add app provider to the test-utils
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

feat: add unit test
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM
