Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

chore: move inline styles to style.ts
  frontend/src/container/FormAlertRules/ChannelSelect/index.tsx
  frontend/src/container/FormAlertRules/ChannelSelect/styles.ts
Owners: @YounixM

chore: add missing alert property to fix the build
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

chore: added v3 support in v2 endpoint
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/app/server.go
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
  pkg/query-service/app/http_handler.go
Owners: none

fix: show the prompt to ask admin if the user doesn't have permissions
  frontend/src/container/FormAlertRules/BasicInfo.tsx
Owners: @YounixM

fix: display create channel option only if the user has permission
  frontend/src/container/FormAlertRules/ChannelSelect/index.tsx
Owners: @YounixM

chore: http response codes and some code cleanup
  ee/query-service/app/api/license.go
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
Owners: none

feat: added navigation for logs and traces to respective explorer pages
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/hooks/queryBuilder/useFetchKeysAndValues.ts
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

chore: added detailed test cases
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
Owners: none

fix: ignore ts for panel type table
  pkg/query-service/app/queryBuilder/query_builder.go
  pkg/query-service/app/queryBuilder/query_builder_test.go
Owners: none

feat: alert rename interaction (#6208)
  frontend/src/constants/reactQueryKeys.ts
  frontend/src/container/CreateAlertRule/defaults.ts
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/ActionButtons.tsx
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/RenameModal.styles.scss
  frontend/src/pages/AlertDetails/AlertHeader/ActionButtons/RenameModal.tsx
  frontend/src/pages/AlertDetails/AlertHeader/AlertHeader.tsx
  frontend/src/pages/AlertDetails/hooks.tsx
  frontend/src/types/api/alerts/def.ts
Owners: @YounixM

chore: address review comments
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/errors.go
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
  ee/query-service/model/plans.go
Owners: none

chore: some misc cleanup
  ee/query-service/app/api/license.go
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
Owners: none

feat: consume the new licenses v3 structure. (#6341)
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/app/server.go
  ee/query-service/constants/constants.go
  ee/query-service/integrations/signozio/response.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/license/sqlite/init.go
  ee/query-service/main.go
  ee/query-service/model/errors.go
  ee/query-service/model/license.go
  ee/query-service/model/license_test.go
  ee/query-service/model/plans.go
  pkg/query-service/app/http_handler.go
Owners: none

feat: fixProducerAPI
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

feat: fixProducerAPI
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

feat: fixProducerAPI (#6422)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

fix: add severity_text legend (#6415)
  frontend/src/container/LogsExplorerViews/index.tsx
Owners: @YounixM

fix: ignore ts for panel type table (#6419)
  pkg/query-service/app/queryBuilder/query_builder.go
  pkg/query-service/app/queryBuilder/query_builder_test.go
Owners: none

fix: prevent repeated new alert event logs + log new channel option inside dropdown
  frontend/src/container/FormAlertRules/BasicInfo.tsx
  frontend/src/container/FormAlertRules/ChannelSelect/index.tsx
Owners: @YounixM

chore: return proper http codes on unique constraint error
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  pkg/query-service/app/http_handler.go
Owners: none

chore: add k8s {deployment, daemonset, statefulset, job} resources (#6401)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/daemonsets.go
  pkg/query-service/app/inframetrics/deployments.go
  pkg/query-service/app/inframetrics/jobs.go
  pkg/query-service/app/inframetrics/statefulsets.go
  pkg/query-service/app/inframetrics/workload_query.go
  pkg/query-service/model/infra.go
Owners: none

fix: update request payload for span metrics queries (#6323)
  frontend/src/container/MetricsApplication/MetricsPageQueries/DBCallQueries.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/ExternalQueries.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/MetricsPageQueriesFactory.ts
  frontend/src/container/MetricsApplication/MetricsPageQueries/OverviewQueries.ts
  frontend/src/container/MetricsApplication/Tabs/types.ts
  frontend/src/container/MetricsApplication/constant.ts
Owners: @srikanthccv

chore: return proper http codes on unique constraint error (#6428)
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  pkg/query-service/app/http_handler.go
Owners: none

chore: add experimental rate/increase calc
  pkg/query-service/app/metrics/v4/cumulative/timeseries.go
Owners: none

chore: add experimental rate/increase calc (#6432)
  pkg/query-service/app/metrics/v4/cumulative/timeseries.go
Owners: none

fix(FE): fix the timestamp reduction issue when attempting to reduce the timestamp via drag
  frontend/src/container/NewWidget/index.tsx
Owners: @YounixM

fix: update get column name and remove id
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

chore: add v2 metric writer to pipelines (#6345)
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

fix: handle contains and update tests
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: remove unwanted step interval calculation
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder.go
Owners: none

fix: add test cases
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
Owners: none

fix: update qb
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
Owners: none

fix: add tests for static columns in QB
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: improve ux
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/OnboardingV2.styles.scss
Owners: @YounixM

fix(FE): fix the timestamp reduction issue when attempting to reduce the timestamp via drag
  frontend/src/container/NewWidget/index.tsx
Owners: @YounixM

fix: add tests
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: add more order by tests
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: update order by logic
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: trace V4 QB (#6407)
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
Owners: none

feat: ingestion limits - add toggle feature
  frontend/src/container/IngestionSettings/IngestionSettings.styles.scss
  frontend/src/container/IngestionSettings/MultiIngestionSettings.tsx
  frontend/src/types/api/ingestionKeys/limits/types.ts
Owners: @YounixM
