Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/traces/v3/query_builder.go
Owners: none

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/querier/querier_test.go
Owners: none

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/querier/querier_test.go
Owners: none

chore: remove facing issues button (#6256)
  frontend/src/components/LaunchChatSupport/util.ts
  frontend/src/container/ListAlertRules/ListAlert.tsx
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/NewDashboard/DashboardDescription/index.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/index.tsx
  frontend/src/pages/Integrations/Header.tsx
  frontend/src/pages/Integrations/IntegrationDetailPage/IntegrationDetailPage.tsx
Owners: @YounixM

fix: fixed the step interval which was being perculated to list view
  pkg/query-service/app/querier/v2/querier_test.go
Owners: none

feat: added missing configuration button at overview and onboarding flow
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producers.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added onboarding detail for consumer setup
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

fix: redirect to docs on clicking alert setup guide in create alert page
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

feat: added the host detail view
  frontend/src/components/HostMetricsDetail/HostMetricDetail.interfaces.ts
  frontend/src/components/HostMetricsDetail/HostMetricsDetail.styles.scss
  frontend/src/components/HostMetricsDetail/constants.ts
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
  frontend/src/pages/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/pages/InfraMonitoringHosts/utils.tsx
Owners: @YounixM

fix: add support for window based pagination
  pkg/query-service/app/querier/querier.go
  pkg/query-service/app/querier/v2/querier.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

chore: enable scenario 4 at staging
  .github/workflows/staging-deployment.yaml
Owners: @SigNoz/devops

chore: fix naming
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: none

chore: add omit empty
  pkg/query-service/app/integrations/messagingQueues/kafka/model.go
Owners: none

Fix api query context (#6268)
  .github/workflows/staging-deployment.yaml
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/integrations/messagingQueues/kafka/model.go
  pkg/query-service/app/integrations/messagingQueues/kafka/translator.go
Owners: @SigNoz/devops

feat: support for faster trace detail
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
Owners: none

fix: searchTraces
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
Owners: none

feat: add Request Dashboard button and improve dashboard list styles
  frontend/src/container/ListOfDashboard/DashboardList.styles.scss
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/ListOfDashboard/RequestDashboardBtn.tsx
  frontend/src/pages/Integrations/Integrations.styles.scss
Owners: @YounixM

feat: support for empty state and dashboard list state
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

feat: add Request Dashboard button and improve dashboard list styles (#6251)
  frontend/src/container/ListOfDashboard/DashboardList.styles.scss
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/container/ListOfDashboard/RequestDashboardBtn.tsx
  frontend/src/pages/Integrations/Integrations.styles.scss
Owners: @YounixM

feat(integrations): whitelist /deployments/me
  ee/query-service/integrations/gateway/proxy.go
Owners: none

fix: the redirect from dashboard landing page to edit removing arithmetic operations
  frontend/src/container/GridCardLayout/WidgetHeader/index.tsx
Owners: @YounixM

fix: the url for the dashboard edit widget
  frontend/src/container/GridCardLayout/WidgetHeader/index.tsx
Owners: @YounixM

feat(integrations): whitelist /deployments/me (#6275)
  ee/query-service/integrations/gateway/proxy.go
Owners: none

fix: disable autofill for time selection field
  frontend/src/components/CustomTimePicker/CustomTimePicker.test.tsx
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

fix: arithmetic operators are removed from Dashboard query builder formulas (#6276)
  frontend/src/container/GridCardLayout/WidgetHeader/index.tsx
Owners: @YounixM

fix: add support for {{.Labels.<key>}} with dots in `key` for template
  pkg/query-service/rules/templates.go
  pkg/query-service/rules/templates_test.go
Owners: none

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

feat: added generic table component for scenario 1,3,4
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added generic logic for mq detail tables and consumed for sc-1,2
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added table row clicks func
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added overview and details table for scenario-3
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added kafka - scenario - 4
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

Chore: upgrade signoz otel collector dependency to v0.111.2 (#6257)
  go.mod
  go.sum
  pkg/query-service/app/logparsingpipeline/collector_config.go
  pkg/query-service/collectorsimulator/collectorsimulator.go
  pkg/query-service/collectorsimulator/inmemoryexporter/exporter_test.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/receiver_test.go
Owners: none

chore: add test validating pipe char in pipeline alias doesnt break collector config
  pkg/query-service/app/logparsingpipeline/collector_config_test.go
Owners: none

fix: pipelines collector conf: ensure bad names are not generated
  pkg/query-service/app/logparsingpipeline/pipelineBuilder.go
Owners: none

fix: fix the issue of adding new query in new alert page changing the data source
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

chore: setup router compatibility package
  frontend/package.json
  frontend/src/AppRoutes/index.tsx
  frontend/yarn.lock
Owners: @YounixM

Fix: logs pipelines: ensure special characters in pipeline identifiers don't result in bad collector config names (#6259)
  pkg/query-service/app/logparsingpipeline/collector_config_test.go
  pkg/query-service/app/logparsingpipeline/pipelineBuilder.go
Owners: none

chore: improve comments
  frontend/src/hooks/useUrlQueryData.ts
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
