Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

fix: add 10gb memory limit
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: add settings to allow distributed_product_mode for trace panel (#6517)
  pkg/query-service/app/traces/v3/query_builder_test.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
  pkg/query-service/constants/constants.go
Owners: none

feat: apply timezone adjustment to anomaly based alerts graph
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/container/AnomalyAlertEvaluationView/tooltipPlugin.ts
Owners: @YounixM

feat: apply timezone adjustment to alert history graph
  frontend/src/container/AlertHistory/Timeline/Graph/Graph.tsx
Owners: @YounixM

feat: apply timezone to trace details page
  frontend/src/container/GantChart/Span/index.tsx
  frontend/src/container/TraceDetail/index.tsx
Owners: @YounixM

feat: display timezone adjusted custom time range in time picker placeholder
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

Revert "chore: custom hook for handling timezone formatting and caching"
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
Owners: @YounixM

Revert "feat: display timezone adjusted custom time range in time picker placeholder"
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

feat: display timezone adjusted time range in time picker
  frontend/src/components/CustomTimePicker/RangePickerModal.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

fix: open the timepicker on clicking the input after closing the timezone picker by clicking outside
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

fix: make x axis and tooltip time format consistent in uPlot graphs
  frontend/src/lib/uPlotLib/plugins/tooltipPlugin.ts
Owners: @YounixM

fix: open the timepicker on clicking the input after closing the timezone picker by clicking outside
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

fix: update api's to repect the new changes in attributes table
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/constants/constants.go
Owners: none

fix: update api's to repect the new changes in attributes table (#6526)
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/logs/v3/enrich_query.go
  pkg/query-service/constants/constants.go
Owners: none

chore: move all the usages of license v2 to license v3
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

chore: add additional info for host metrics onboarding
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/dashboards/expensive_queries.md
  pkg/query-service/app/inframetrics/hosts.go
  pkg/query-service/constants/constants.go
  pkg/query-service/interfaces/interface.go
  pkg/query-service/model/infra.go
Owners: none

chore: remove unnecessary doc
  pkg/query-service/app/dashboards/expensive_queries.md
Owners: none

chore: added log lines for debugging
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
Owners: none

chore: add additional info for host metrics onboarding (#6529)
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/inframetrics/hosts.go
  pkg/query-service/constants/constants.go
  pkg/query-service/interfaces/interface.go
  pkg/query-service/model/infra.go
Owners: none

chore: move away from parallel usages of licenses v2 and v3 (#6527)
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

fix: open the timepicker on clicking the input after closing the timezone picker by clicking outside (#6522)
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

feat: display timezone adjusted time range in time picker (#6521)
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/RangePickerModal.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

feat: custom hook for formatting timezone
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

feat: add timezone support to traces explorer timestamp column
  frontend/src/container/TracesExplorer/ListView/index.tsx
  frontend/src/container/TracesExplorer/ListView/utils.tsx
Owners: @YounixM

feat: add timezone support to saved views
  frontend/src/pages/SaveView/index.tsx
Owners: @YounixM

chore: improve timezone formatter custom hook
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
  frontend/src/providers/Timezone.tsx
Owners: @YounixM

feat: add support for timezone adjusted timestamp in raw log view (logs explorer -> list view)
  frontend/src/components/Logs/RawLogView/index.tsx
Owners: @YounixM

feat: add support for timezone adjusted timestamp in log table view (logs explorer -> list view)
  frontend/src/components/Logs/TableView/useTableView.tsx
Owners: @YounixM

feat: add support for timezone adjusted timestamp in log default view (logs explorer -> list view)
  frontend/src/components/Logs/ListLogView/index.tsx
Owners: @YounixM

feat: add support for timezone adjusted timestamp in log details side pane
  frontend/src/container/LogDetailedView/TableView/TableViewActions.tsx
Owners: @YounixM

feat: improve empty hosts, incorrect metrics and no filter views
  frontend/src/api/infraMonitoring/getHostLists.ts
  frontend/src/container/InfraMonitoringHosts/HostsEmptyOrIncorrectMetrics.tsx
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/InfraMonitoringHosts/InfraMonitoring.styles.scss
  frontend/src/container/SideNav/NavItem/NavItem.tsx
  frontend/src/container/SideNav/SideNav.styles.scss
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/SideNav/sideNav.types.ts
Owners: @YounixM

feat: add support for timezone adjusted timestamp in pipeline pages
  frontend/src/container/PipelinePage/Layouts/ChangeHistory/DeploymentTime.tsx
  frontend/src/container/PipelinePage/PipelineListsView/Preview/components/LogsList/index.tsx
  frontend/src/container/PipelinePage/PipelineListsView/TableComponents/index.tsx
Owners: @YounixM

feat: add usasge events
  frontend/src/components/HostMetricsDetail/HostMetricsDetails.tsx
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
Owners: @YounixM

fix: add telemetry for trace migration
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/rules/db.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

chore: qs: logs pipeline preview: use collectorsimulator from signoz-otel-collector
  pkg/query-service/app/logparsingpipeline/preview.go
Owners: none

chore: qs: remove collectorsimulator: located in signoz-otel-collector now
  pkg/query-service/collectorsimulator/collectorsimulator.go
  pkg/query-service/collectorsimulator/inmemoryexporter/config.go
  pkg/query-service/collectorsimulator/inmemoryexporter/config_test.go
  pkg/query-service/collectorsimulator/inmemoryexporter/exporter.go
  pkg/query-service/collectorsimulator/inmemoryexporter/exporter_test.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory.go
  pkg/query-service/collectorsimulator/inmemoryexporter/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/config.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/config_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/factory_test.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/receiver.go
  pkg/query-service/collectorsimulator/inmemoryreceiver/receiver_test.go
  pkg/query-service/collectorsimulator/logs.go
  pkg/query-service/collectorsimulator/logs_test.go
Owners: none

feat: add reqrest early access events
  frontend/public/locales/en-GB/infraMonitoring.json
  frontend/public/locales/en/infraMonitoring.json
  frontend/src/components/HostMetricsDetail/Containers/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers/Containers.tsx
  frontend/src/components/HostMetricsDetail/Processes/Processes.styles.scss
  frontend/src/components/HostMetricsDetail/Processes/Processes.tsx
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitListFragment.styles.scss
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitlistFragment.tsx
  frontend/src/container/SideNav/menuItems.tsx
Owners: @YounixM

feat: add infra monitoring - host lists - usage events (#6536)
  frontend/public/locales/en-GB/infraMonitoring.json
  frontend/public/locales/en/infraMonitoring.json
  frontend/src/components/HostMetricsDetail/Containers/Containers.styles.scss
  frontend/src/components/HostMetricsDetail/Containers/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsDetails.tsx
  frontend/src/components/HostMetricsDetail/Processes/Processes.styles.scss
  frontend/src/components/HostMetricsDetail/Processes/Processes.tsx
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitListFragment.styles.scss
  frontend/src/components/HostMetricsDetail/WaitlistFragment/WaitlistFragment.tsx
  frontend/src/container/InfraMonitoringHosts/HostsList.tsx
  frontend/src/container/SideNav/menuItems.tsx
Owners: @YounixM

fix: add telemetry for trace migration (#6537)
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/model/response.go
  pkg/query-service/rules/db.go
  pkg/query-service/telemetry/telemetry.go
Owners: none

Fix for running signoz-schema-migrator under docker-swarm (#6489)
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
Owners: @SigNoz/devops
