Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

fix: add remaining files
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/model/v3/v3.go
Owners: none

fix: remove redundant struct
  pkg/query-service/app/traces/v3/query_builder.go
Owners: none

feat: tooltip plugin to show series data in tooltip
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.styles.scss
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/container/AnomalyAlertEvaluationView/tooltipPlugin.ts
  frontend/src/lib/uPlotLib/utils/getUplotChartData.ts
Owners: @YounixM

feat: send anomaly function as last function
  frontend/src/constants/queryFunctionOptions.ts
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/container/CreateAlertRule/defaults.ts
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  frontend/src/container/FormAlertRules/index.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/Function.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/QueryFunctions.tsx
  frontend/src/lib/uPlotLib/utils/getUplotChartData.ts
  frontend/src/lib/uPlotLib/utils/getYAxisScale.ts
  frontend/src/types/api/alerts/def.ts
Owners: @YounixM

chore: add missing shift in rule
  pkg/query-service/app/parser.go
  pkg/query-service/app/parser_test.go
  pkg/query-service/model/v3/v3.go
  pkg/query-service/rules/threshold_rule.go
  pkg/query-service/rules/threshold_rule_test.go
Owners: none

feat: added base setup for frontend code
  ee/query-service/app/api/api.go
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/api/trace/getTraceDetails.ts
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailsV2.styles.scss
  frontend/src/pages/TraceDetailsV2/index.tsx
  frontend/src/types/api/trace/getTraceDetails.ts
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/interfaces/interface.go
  pkg/query-service/model/response.go
Owners: @YounixM

feat: default z_score_threshold to 3
  frontend/src/container/CreateAlertRule/defaults.ts
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  frontend/src/container/FormAlertRules/index.tsx
  frontend/src/types/api/alerts/def.ts
Owners: @YounixM

feat: move resource qb to its own package and use common options (#6238)
  pkg/query-service/app/logs/v3/query_builder.go
  pkg/query-service/app/logs/v3/query_builder_test.go
  pkg/query-service/app/logs/v4/query_builder.go
  pkg/query-service/app/logs/v4/query_builder_test.go
  pkg/query-service/app/querier/helper.go
  pkg/query-service/app/querier/v2/helper.go
  pkg/query-service/app/queryBuilder/query_builder.go
  pkg/query-service/app/resource/resource_query_builder.go
  pkg/query-service/app/resource/resource_query_builder_test.go
  pkg/query-service/app/traces/v3/query_builder.go
  pkg/query-service/app/traces/v3/query_builder_test.go
  pkg/query-service/model/v3/v3.go
Owners: none

feat: frontend taking shape
  frontend/src/api/trace/getTraceDetails.ts
  frontend/src/container/TimelineV2/TimelineV2.styles.scss
  frontend/src/container/TimelineV2/TimelineV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailsV2.styles.scss
  frontend/src/container/TraceDetailV2/constants.ts
  frontend/src/pages/TraceDetailsV2/index.tsx
  frontend/src/types/api/trace/getTraceDetails.ts
Owners: @YounixM

feat: pushing some more changes to build the traces on frontend
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailsV2.styles.scss
  frontend/src/pages/TraceDetailsV2/index.tsx
  frontend/src/types/api/trace/getTraceDetails.ts
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
Owners: @YounixM

fix: anomaly function not applied on initial load
  frontend/src/container/CreateAlertRule/defaults.ts
  frontend/src/container/CreateAlertRule/index.tsx
  frontend/src/container/FormAlertRules/index.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/QueryFunctions.tsx
  frontend/src/types/api/queryBuilder/queryBuilderData.ts
Owners: @YounixM

feat: maintain select alert type on reload
  frontend/src/container/CreateAlertRule/index.tsx
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

fix: get trace by id api updated
  ee/query-service/app/api/traces.go
  pkg/query-service/app/clickhouseReader/options.go
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
Owners: none

feat: maintain select alert type on reload
  frontend/src/container/CreateAlertRule/index.tsx
Owners: @YounixM

chore: split migrator job to sync and async (#6107)
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
Owners: @SigNoz/devops

chore: update events to handle anomaly alert interactions
  frontend/src/container/FormAlertRules/index.tsx
Owners: @YounixM

feat: a lot of frontend and a little query service changes
  frontend/src/container/TimelineV2/TimelineV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/container/TraceDetailV2/TraceDetailsV2.styles.scss
  frontend/src/pages/TraceDetailsV2/index.tsx
  pkg/query-service/app/clickhouseReader/reader.go
Owners: @YounixM

feat: handle scroll into view
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/pages/TraceDetailsV2/index.tsx
Owners: @YounixM

chore: handle string and update tests
  pkg/query-service/app/parser_test.go
  pkg/query-service/model/v3/v3.go
Owners: none

chore: enaable anomaly detection for ee/paid plan
  ee/query-service/model/plans.go
Owners: none

fix: add servicename resource filter
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/rules/threshold_rule_test.go
Owners: none

feat: enable offline functionality for frontend (#6152)
  frontend/public/Images/signoz-hero-image.webp
  frontend/public/css/uPlot.min.css
  frontend/public/fonts/FiraCode-VariableFont_wght.ttf
  frontend/public/fonts/Inter-VariableFont_opsz,wght.ttf
  frontend/public/fonts/SpaceMono-Regular.ttf
  frontend/public/fonts/WorkSans-VariableFont_wght.ttf
  frontend/src/index.html.ejs
  frontend/src/styles.scss
Owners: @YounixM

fix: polled onboarding status api
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: refactoring and url query changes
  frontend/src/constants/query.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

fix: added onboarding setup for producer/consumer for Messaging queues
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producer.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.styles.scss
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/container/OnboardingContainer/utils/dataSourceUtils.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: added onboarding status api with useQueury functions and updated endpoints
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: added onboarding status api util for attribute data
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: maintain state and add log events
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: add questionaire components (#5998)
  frontend/public/Logos/hippa.svg
  frontend/public/Logos/signoz-brand-logo-new.svg
  frontend/public/Logos/soc2.svg
  frontend/public/fonts/Satoshi-Regular.woff2
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/OnboardingFooter.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingFooter/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.styles.scss
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/OnboardingHeader.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingHeader/index.ts
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.styles.scss
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: changed start and end time to nanosecond for api payload
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: make top reached changes for client
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
  frontend/src/pages/TraceDetailsV2/index.tsx
  pkg/query-service/app/clickhouseReader/reader.go
Owners: @YounixM

feat: minor fixes
  frontend/src/container/TraceDetailV2/TraceDetailV2.tsx
Owners: @YounixM

fix: tests
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

fix: use correct prepQUery
  pkg/query-service/app/querier/helper.go
  pkg/query-service/app/querier/v2/helper.go
Owners: none

feat: tooltip plugin to show series data in tooltip (#6194)
  frontend/src/constants/queryFunctionOptions.ts
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.styles.scss
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/container/AnomalyAlertEvaluationView/tooltipPlugin.ts
  frontend/src/container/CreateAlertRule/defaults.ts
  frontend/src/container/CreateAlertRule/index.tsx
  frontend/src/container/FormAlertRules/RuleOptions.tsx
  frontend/src/container/FormAlertRules/index.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/Function.tsx
  frontend/src/container/QueryBuilder/components/QueryFunctions/QueryFunctions.tsx
  frontend/src/lib/uPlotLib/utils/getUplotChartData.ts
  frontend/src/lib/uPlotLib/utils/getYAxisScale.ts
  frontend/src/types/api/queryBuilder/queryBuilderData.ts
Owners: @YounixM

feat: integrate update profile and invite users api
  frontend/src/api/apiV1.ts
  frontend/src/api/index.ts
  frontend/src/api/onboarding/updateProfile.ts
  frontend/src/api/user/inviteUsers.ts
  frontend/src/container/OnboardingQuestionaire/AboutSigNozQuestions/AboutSigNozQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/OrgQuestions/OrgQuestions.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/container/OrganizationSettings/PendingInvitesContainer/index.tsx
  frontend/src/types/api/onboarding/types.ts
  frontend/src/types/api/user/inviteUsers.ts
Owners: @YounixM

feat: remove hardcode is darkmode value from get anomaly data func
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/lib/uPlotLib/utils/getUplotChartData.ts
Owners: @YounixM

fix: name is optional in bulk invite API
  pkg/query-service/app/parser.go
Owners: none

feat: remove hardcode is darkmode value from get anomaly data func (#6245)
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/lib/uPlotLib/utils/getUplotChartData.ts
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
