Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

feat: handle groupby
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
Owners: @YounixM

chore: address some gaps in k8s monitoring
  pkg/query-service/app/inframetrics/namespaces.go
  pkg/query-service/app/inframetrics/nodes.go
  pkg/query-service/app/inframetrics/nodes_query.go
  pkg/query-service/app/inframetrics/pods.go
  pkg/query-service/app/inframetrics/pods_query.go
  pkg/query-service/app/inframetrics/workload_query.go
  pkg/query-service/app/metrics/query_builder.go
  pkg/query-service/app/metrics/v3/query_builder.go
  pkg/query-service/app/metrics/v4/cumulative/table.go
  pkg/query-service/app/metrics/v4/cumulative/timeseries.go
  pkg/query-service/app/metrics/v4/delta/table.go
  pkg/query-service/app/metrics/v4/delta/timeseries.go
  pkg/query-service/app/metrics/v4/helpers/sub_query.go
  pkg/query-service/app/metrics/v4/query_builder.go
  pkg/query-service/model/infra.go
  pkg/query-service/model/v3/v3.go
Owners: none

chore: add pvcs list
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/infra.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/pvcs.go
  pkg/query-service/app/inframetrics/pvcs_query.go
  pkg/query-service/model/infra.go
Owners: none

Fix: QS: logs pipelines: better validation of pipelines being saved (#6652)
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/logparsingpipeline/controller.go
  pkg/query-service/tests/integration/logparsingpipeline_test.go
Owners: none

fix: added handling for new key - duration_nano in traces
  frontend/src/container/TimeSeriesView/index.tsx
  frontend/src/container/Trace/TraceTable/util.ts
  frontend/src/container/TracesExplorer/ListView/utils.tsx
Owners: @YounixM

fix: pkg/query-service/Dockerfile to reduce vulnerabilities
  pkg/query-service/Dockerfile
Owners: none

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities
  frontend/package.json
  frontend/yarn.lock
Owners: @YounixM

refactor: modified the log event messages for timezone picker to follow the conventions
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
Owners: @YounixM

feat: handle quick filters and qb search sync
  frontend/src/components/QuickFilters/FilterRenderers/Checkbox/Checkbox.tsx
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
Owners: @YounixM

feat: do not update url on filters change
  frontend/src/components/QuickFilters/FilterRenderers/Checkbox/Checkbox.tsx
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
Owners: @YounixM

fix: address comments
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

feat: enable kafka_span_eval
  pkg/query-service/constants/constants.go
Owners: none

feat: ui fixes
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.63.0, SigNoz OtelCollector 0.111.16
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

fix: add flags for using trace new schema (#6651)
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/docker-compose-local.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

feat: support trace v3 queries
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
Owners: none

Add support for trace_v3 schema in messaging queues (#6663)
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
  pkg/query-service/constants/constants.go
Owners: none

chore: improve timezone picker event messages
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.64.0
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

update resource id
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
Owners: none

fix: revert the flag
  pkg/query-service/constants/constants.go
Owners: none

fix: use placehold in limit and use proper exists
  pkg/query-service/app/querier/helper.go
  pkg/query-service/app/querier/v2/helper.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

update service.instance.id (#6665)
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
  pkg/query-service/constants/constants.go
Owners: none

fix: add bucketing
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
Owners: none

fix: use placehold in limit and use proper exists (#6667)
  pkg/query-service/app/querier/helper.go
  pkg/query-service/app/querier/v2/helper.go
  pkg/query-service/app/traces/v4/enrich.go
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: group by attribute - show nested table and handle view all
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/K8sHeader.tsx
  frontend/src/container/InfraMonitoringK8s/LoadingContainer.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
  frontend/src/container/InfraMonitoringK8s/utils.tsx
  frontend/src/types/api/queryBuilder/queryAutocompleteResponse.ts
  frontend/src/types/api/queryBuilder/queryBuilderData.ts
Owners: @YounixM

feat: update query for metrics
  frontend/src/container/InfraMonitoringK8s/Pods/constants.ts
Owners: @YounixM

feat: set size for nested table
  frontend/src/components/QuickFilters/QuickFilters.tsx
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
Owners: @YounixM

fix: add bucketing (#6669)
  pkg/query-service/app/integrations/messagingQueues/kafka/sql.go
Owners: none

feat: enable the new where clause for logs dashboards
  frontend/src/container/QueryBuilder/components/Query/Query.tsx
Owners: @YounixM

feat: improve the condition to datasource instead of route
  frontend/src/container/QueryBuilder/components/Query/Query.tsx
  frontend/src/container/QueryBuilder/filters/QueryBuilderSearchV2/QueryBuilderSearchV2.tsx
Owners: @YounixM

fix: address comments
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

feat: api for trace materialization (#6646)
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/logs/parser.go
  pkg/query-service/app/logs/parser_test.go
  pkg/query-service/app/logs/validator.go
  pkg/query-service/constants/constants.go
  pkg/query-service/interfaces/interface.go
  pkg/query-service/model/response.go
Owners: none

fix: handle exists and nexists for mat columns and top level columns
  pkg/query-service/app/traces/v4/query_builder.go
  pkg/query-service/app/traces/v4/query_builder_test.go
Owners: none

feat: changed start and end time logic for consumer lag details (#6605)
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: handle only one expanded row at a time
  frontend/src/container/InfraMonitoringK8s/InfraMonitoringK8s.styles.scss
  frontend/src/container/InfraMonitoringK8s/Pods/K8sPodLists.tsx
Owners: @YounixM

chore: deprecate develop branch - use main
  .github/workflows/build.yaml
  .github/workflows/docs.yml
  .github/workflows/e2e-k3s.yaml
  .github/workflows/jest-coverage-changes.yml
  .github/workflows/push.yaml
  .github/workflows/sonar.yml
  .github/workflows/staging-deployment.yaml
  .github/workflows/testing-deployment.yaml
  CONTRIBUTING.md
  deploy/README.md
  frontend/.husky/commit-msg
  sample-apps/hotrod/README.md
  sample-apps/hotrod/hotrod-delete.sh
  sample-apps/hotrod/hotrod-install.sh
Owners: @SigNoz/devops, @YounixM

chore(signoz): pin versions: SigNoz 0.62.0, SigNoz OtelCollector 0.111.15
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

chore(signoz): pin versions: SigNoz 0.63.0, SigNoz OtelCollector 0.111.16
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
  go.mod
  go.sum
Owners: @SigNoz/devops

chore(signoz): pin versions: SigNoz 0.64.0
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops
