Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: onboarding part 3 changes
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/onboarding-config-with-links.json
Owners: @YounixM

feat: update handle select framework logic
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/onboarding-config-with-links.json
Owners: @YounixM

chore: remove old files
  frontend/src/container/AppLayout/index.tsx
Owners: @YounixM

feat: remove unwanted styles
  frontend/src/container/AppLayout/AppLayout.styles.scss
Owners: @YounixM

feat: minor ui updates
  frontend/public/locales/en/titles.json
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/AppLayout.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat: added logs and traces tab in host metrics detail view
  frontend/src/components/HostMetricsDetail/HostMetricDetail.interfaces.ts
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricTraces/HostMetricTraces.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricTraces/utils.ts
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogs.styles.scss
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricLogsDetailedView.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/HostMetricsLogs.tsx
  frontend/src/components/HostMetricsDetail/HostMetricsLogs/constants.ts
  frontend/src/components/HostMetricsDetail/index.tsx
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
  frontend/src/lib/dashboard/getQueryResults.ts
  frontend/src/pages/InfraMonitoringHosts/HostsList.tsx
Owners: @YounixM

chore: removed console statements
  frontend/src/lib/dashboard/getQueryResults.ts
Owners: @YounixM

feat: added DateTimeSelection component in metrics tab
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.styles.scss
  frontend/src/components/HostMetricsDetail/Metrics/Metrics.tsx
  frontend/src/components/HostMetricsDetail/index.tsx
Owners: @YounixM

feat: integrate invite team members and ingestion key details api
  frontend/public/locales/en/titles.json
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/IngestionDetails/IngestionDetails.tsx
  frontend/src/container/OnboardingV2Container/InviteTeamMembers/InviteTeamMembers.styles.scss
  frontend/src/container/OnboardingV2Container/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingV2Container/OnboardingV2.styles.scss
  frontend/src/container/OnboardingV2Container/QuestionBlock/QuestionBlock.tsx
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
  frontend/src/container/SideNav/SideNav.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingIngestionDetails.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
  frontend/src/utils/app.ts
  frontend/src/utils/downloadFile.ts
  frontend/src/utils/permission/index.ts
Owners: @YounixM

feat: update docs links
  frontend/src/container/OnboardingV2Container/AddDataSource/AddDataSource.tsx
  frontend/src/container/OnboardingV2Container/configs/onboarding-config-with-links.json
Owners: @YounixM

chore: github wf update pr labels and block pr until related docs are shipped for the feature (#6333)
  .github/workflows/docs.yml
Owners: @SigNoz/devops

chore: refactor the entire code to cleanup interfaces
  ee/query-service/app/api/license.go
  ee/query-service/integrations/signozio/signozio.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

fix: nil pointer error
  ee/query-service/license/db.go
Owners: none

chore: some minor edits
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

style: added top and bottom margin to containers and processes tab
  frontend/src/components/HostMetricsDetail/Containers.styles.scss
Owners: @YounixM

feat: model changes
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

feat: model changes
  ee/query-service/model/license.go
Owners: none

fix: initialize target to 3 in anomaly detection alert
  frontend/src/container/CreateAlertRule/defaults.ts
Owners: @YounixM

feat: added metric page in messaging queues
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricColumnGraphs.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageGraph.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added onboarding status api util for attribute data
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added overview and details table for scenario-3
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getTopicThroughputOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

fix: added onboarding setup for producer/consumer for Messaging queues
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producer.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.styles.scss
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/container/OnboardingContainer/utils/dataSourceUtils.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: added onboarding detail for consumer setup
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-consumers.md
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
Owners: @YounixM

feat: added metric page in messaging queues
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricColumnGraphs.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageGraph.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MetricPage/MetricPageUtil.ts
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: updated the design for Messaging Queue - summary section
  frontend/public/locales/en/messagingQueuesKafkaOverview.json
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added generic logic for mq detail tables and consumed for sc-1,2
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: fixed multiple fixes and chores in kafka 2.0
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: corrected the onboardingapi payload
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
Owners: @YounixM

feat: fixed producer latency - producer-detail call
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
Owners: @YounixM

feat: added kafka - scenario - 4 - drop rate table
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
Owners: @YounixM

fix: polled onboarding status api
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: code refactor
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
Owners: @YounixM

feat: added kafka - scenario - 4
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added table row clicks func
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added onboarding status api with useQueury functions and updated endpoints
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: added generic table component for scenario 1,3,4
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: fixed mq-detail page layout and pagination
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
Owners: @YounixM

feat: changed start and end time to nanosecond for api payload
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: added healthcheck and attribute checklist component for Kafka
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: refactoring and url query changes
  frontend/src/constants/query.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
