Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

fix: incorrect formula for apdex
  frontend/src/container/MetricsApplication/constant.ts
Owners: @srikanthccv

chore: add user email to log_comment
  pkg/query-service/app/server.go
Owners: none

chore: add user email to log_comment (#6461)
  pkg/query-service/app/server.go
Owners: none

chore: add missing alert telemetry (#6459)
  pkg/query-service/telemetry/telemetry.go
Owners: none

fix: ee/query-service/Dockerfile to reduce vulnerabilities
  ee/query-service/Dockerfile
Owners: none

fix: remove utils
  pkg/query-service/app/traces/v4/utils.go
Owners: none

fix: remove unwanted API's
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/interfaces/interface.go
Owners: none

[Snyk] Security upgrade alpine from 3.18.6 to 3.20.3 (#6463)
  ee/query-service/Dockerfile
Owners: none

fix: attribute and attribute values v2
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: remove unwanted trace API's
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/interfaces/interface.go
Owners: none

fix: remove unwanted trace API's (#6464)
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/interfaces/interface.go
Owners: none

feat: add 'create channel' option in channels list and refetch alert channels on opening the channels dropdown (#6416)
  frontend/src/container/FormAlertRules/BasicInfo.tsx
  frontend/src/container/FormAlertRules/ChannelSelect/index.tsx
  frontend/src/container/FormAlertRules/ChannelSelect/styles.ts
  frontend/src/hooks/useFetch.ts
Owners: @YounixM

fix: autocomplete api's updated
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/constants/constants.go
Owners: none

fix: tests fixed
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/rules/threshold_rule_test.go
Owners: none

feat: use the license v2 key to fill licenses v3 on startup
  ee/query-service/license/manager.go
Owners: none

feat: minor fixes
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/rules/threshold_rule.go
Owners: none

chore: make the init only if the licenses v2 is present
  ee/query-service/license/manager.go
Owners: none

chore: address review comments
  ee/query-service/license/manager.go
Owners: none

fix: update telemetry functions
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

chore: use the license v2 key to fill licenses v3 on startup (#6468)
  ee/query-service/license/manager.go
Owners: none

refactor: removed unused code and added comments
  frontend/src/components/HostMetricsDetail/Containers.tsx
  frontend/src/components/HostMetricsDetail/HostMetricTraces/constants.ts
  frontend/src/components/HostMetricsDetail/HostMetricTraces/utils.ts
  frontend/src/components/HostMetricsDetail/Processes.tsx
  frontend/src/components/HostMetricsDetail/constants.ts
  frontend/src/container/TopNav/DateTimeSelectionV2/index.tsx
Owners: @YounixM

feat: time picker hint and timezone picker UI with basic functionality + helper to get timezones
  frontend/package.json
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
  frontend/yarn.lock
Owners: @YounixM

feat: add support for esc keypress to close the timezone picker
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/constants/shortcuts/TimezonePickerShortcuts.ts
Owners: @YounixM

chore: add the selected timezone as url param and close timezone picker on select
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
Owners: @YounixM

fix: overall improvement + add searchIndex to timezone
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

fix: update static fields and add response structs
  pkg/query-service/constants/constants.go
  pkg/query-service/model/response.go
Owners: none

fix: dont use alias, use proper col names
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
Owners: none

fix: update ch names
  pkg/query-service/model/response.go
Owners: none

fix: update TestListTsRange to return all range
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

fix: update TestListTsRange to return all range (#6470)
  pkg/query-service/utils/logs.go
  pkg/query-service/utils/logs_test.go
Owners: none

feat: timezone preferences UI
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaption.styles.scss
  frontend/src/container/MySettings/index.tsx
Owners: @YounixM

fix: incorrect formula for apdex (#6460)
  frontend/src/container/MetricsApplication/constant.ts
Owners: @srikanthccv

refactor: added new code for host metric attribute keys
  frontend/src/api/infra/getHostAttributeKeys.ts
  frontend/src/container/QueryBuilder/filters/GroupByFilter/GroupByFilter.interfaces.ts
  frontend/src/container/QueryBuilder/filters/GroupByFilter/GroupByFilter.tsx
  frontend/src/hooks/queryBuilder/useGetAggregateKeys.ts
  frontend/src/types/api/queryBuilder/getAttributeKeys.ts
Owners: @YounixM

chore(signoz): pin versions: SigNoz 0.58.2
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/docker-compose-minimal.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

feat: reset query data once we are on infra monitoring page
  frontend/src/container/InfraMonitoringHosts/index.tsx
  frontend/src/providers/QueryBuilder.tsx
Owners: @YounixM

chore: set zeusURL via build time variable
  Makefile
  ee/query-service/constants/constants.go
Owners: none

chore: set zeusURL via build time variable (#6475)
  Makefile
  ee/query-service/constants/constants.go
Owners: none

fix: move models to it's own file
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/model/response.go
  pkg/query-service/model/trace.go
Owners: none

fix: move models to it's own file
  pkg/query-service/model/response.go
  pkg/query-service/model/trace.go
Owners: none

chore: improve timezone utils
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM
