Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops

feat: added kafka - scenario - 4 - drop rate table
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
Owners: @YounixM

feat: added generic table component for scenario 1,3,4
  frontend/src/constants/query.ts
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getConsumerLagDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyDetails.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getPartitionLatencyOverview.ts
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: added api, new table and traceid redirection
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/EvaluationTimeSelector.tsx
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/dropRateViewUtils.ts
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.style.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/getKafkaSpanEval.tsx
Owners: @YounixM

feat: corrected the onboardingapi payload
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
Owners: @YounixM

feat: refactoring and url query changes
  frontend/src/constants/query.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: fixed multiple fixes and chores in kafka 2.0
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: added table row clicks func
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.styles.scss
  frontend/src/pages/MessagingQueues/MQDetails/MQTables/MQTables.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MessagingQueueOverview.tsx
  frontend/src/pages/MessagingQueues/MessagingQueuesUtils.ts
Owners: @YounixM

feat: code refactor
  frontend/src/pages/MessagingQueues/MQDetails/DropRateView/DropRateView.tsx
Owners: @YounixM

feat: added healthcheck and attribute checklist component for Kafka
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/AttributeCheckList.tsx
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.styles.scss
  frontend/src/pages/MessagingQueues/MessagingQueueHealthCheck/MessagingQueueHealthCheck.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

fix: polled onboarding status api
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

feat: changed start and end time to nanosecond for api payload
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
Owners: @YounixM

fix: added onboarding setup for producer/consumer for Messaging queues
  frontend/src/api/messagingQueues/onboarding/getOnboardingStatus.ts
  frontend/src/container/OnboardingContainer/Modules/APM/Java/md-docs/SpringBoot/Kubernetes/springBoot-kubernetes-runApplication-producer.md
  frontend/src/container/OnboardingContainer/Steps/ConnectionStatus/ConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.styles.scss
  frontend/src/container/OnboardingContainer/Steps/DataSource/DataSource.tsx
  frontend/src/container/OnboardingContainer/Steps/LogsConnectionStatus/LogsConnectionStatus.tsx
  frontend/src/container/OnboardingContainer/Steps/MarkdownStep/MarkdownStep.tsx
  frontend/src/container/OnboardingContainer/constants/apmDocFilePaths.ts
  frontend/src/container/OnboardingContainer/utils/dataSourceUtils.ts
  frontend/src/hooks/messagingQueue / onboarding/useOnboardingStatus.tsx
  frontend/src/pages/MessagingQueues/MessagingQueues.tsx
Owners: @YounixM

feat: fixed producer latency - producer-detail call
  frontend/src/pages/MessagingQueues/MQDetailPage/MQDetailPage.tsx
  frontend/src/pages/MessagingQueues/MQDetails/MQDetails.tsx
Owners: @YounixM

fix: add safety check to check if anomaly rule in uplot chart options
  frontend/src/lib/uPlotLib/getUplotChartOptions.ts
Owners: @YounixM

feat: validator changes
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
  ee/query-service/model/plans.go
Owners: none

chore: added a couple of todos
  ee/query-service/app/api/license.go
  ee/query-service/license/manager.go
Owners: none

chore: add feature flag, handle out-of-index, some house keeping work
  ee/query-service/model/plans.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/hosts.go
  pkg/query-service/app/inframetrics/hosts_query.go
  pkg/query-service/app/inframetrics/namespaces.go
  pkg/query-service/app/inframetrics/pods.go
  pkg/query-service/app/inframetrics/process_query.go
  pkg/query-service/app/inframetrics/processes.go
  pkg/query-service/app/inframetrics/table_list_query_k8s.go
  pkg/query-service/constants/constants.go
  pkg/query-service/model/featureSet.go
  pkg/query-service/model/infra.go
Owners: none

enable scenario 4 on staging (#6269)
  .github/workflows/staging-deployment.yaml
  deploy/docker/clickhouse-setup/docker-compose.testing.yaml
Owners: @SigNoz/devops

feat: added config parameter for licenses v3 and the boot option
  ee/query-service/app/server.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/main.go
Owners: none

feat: some typo fix
  ee/query-service/license/manager.go
Owners: none

fix: add safety check to check if anomaly rule in uplot chart options (#6343)
  frontend/src/lib/uPlotLib/getUplotChartOptions.ts
Owners: @YounixM

feat: added refresh licenses handler
  ee/query-service/app/api/api.go
  ee/query-service/app/api/license.go
  ee/query-service/license/manager.go
Owners: none

feat: improve async handling for org onboarding cases (#6342)
  frontend/src/AppRoutes/Private.tsx
  frontend/src/container/OnboardingContainer/OnboardingContainer.tsx
  frontend/src/container/OnboardingQuestionaire/InviteTeamMembers/InviteTeamMembers.tsx
  frontend/src/container/OnboardingQuestionaire/OnboardingQuestionaire.styles.scss
  frontend/src/container/OnboardingQuestionaire/OptimiseSignozNeeds/OptimiseSignozNeeds.tsx
  frontend/src/container/OnboardingQuestionaire/index.tsx
  frontend/src/pages/SignUp/SignUp.tsx
Owners: @YounixM

chore: add feature flag, handle out-of-index error, some house keeping work (#6344)
  ee/query-service/model/plans.go
  pkg/query-service/app/inframetrics/common.go
  pkg/query-service/app/inframetrics/hosts.go
  pkg/query-service/app/inframetrics/hosts_query.go
  pkg/query-service/app/inframetrics/namespaces.go
  pkg/query-service/app/inframetrics/pods.go
  pkg/query-service/app/inframetrics/process_query.go
  pkg/query-service/app/inframetrics/processes.go
  pkg/query-service/app/inframetrics/table_list_query_k8s.go
  pkg/query-service/constants/constants.go
  pkg/query-service/model/featureSet.go
  pkg/query-service/model/infra.go
Owners: none

chore: add v2 metric writer to pipelines
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Owners: @SigNoz/devops

fix: re add threshold for promql alerts
  frontend/src/container/FormAlertRules/RuleOptions.tsx
Owners: @YounixM

feat: handle the start manager license activation
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
Owners: none

chore: text updates
  ee/query-service/license/db.go
Owners: none

feat: added list licenses call
  ee/query-service/app/api/license.go
  ee/query-service/license/db.go
  ee/query-service/license/manager.go
  ee/query-service/model/license.go
Owners: none

fix: re add threshold for promql alerts (#6355)
  frontend/src/container/FormAlertRules/RuleOptions.tsx
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/constants/routes.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/SideNav/config.ts
  frontend/src/container/SideNav/menuItems.tsx
  frontend/src/container/TopNav/Breadcrumbs/index.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/index.tsx
  frontend/src/utils/permission/index.ts
Owners: @YounixM

refactor: update class names in OnboardingPageV2 styles
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

feat(onboarding): component structure update and style updates
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

refactor(onboarding): components for QuestionBlock structural changes
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

feat: add onboarding v2 base setup and styles
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

refactor: moved the flow to another file
  frontend/src/pages/OnboardingPageV2/OnboardingAddDataSource.tsx
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

feat(onboarding): question block filterByCategory added
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
  frontend/src/pages/OnboardingPageV2/QuestionBlock.tsx
  frontend/src/pages/OnboardingPageV2/questions.ts
Owners: @YounixM

refactor(onboarding): bem SCSS nested way, this is the way
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
Owners: @YounixM

feat: onboarding v2 base setup
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.tsx
Owners: @YounixM

refactor: color variable fixes
  frontend/src/pages/OnboardingPageV2/OnboardingPageV2.styles.scss
Owners: @YounixM
