Repository SigNoz/signoz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YounixM, @srikanthccv, @SigNoz/devops

feat: update tests
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: update unit test
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: update unit test
  frontend/src/pages/DashboardsListPage/__tests__/DashboardListPage.test.tsx
Owners: @YounixM

feat: should fix a lot of tests
  frontend/src/providers/App/App.tsx
  frontend/src/providers/App/utils.ts
  frontend/src/tests/test-utils.tsx
  frontend/src/types/api/licensesV3/getActive.ts
  frontend/src/types/api/user/getUser.ts
Owners: @YounixM

fix: smartTraceAlgo for new schema
  pkg/query-service/app/clickhouseReader/reader.go
Owners: none

fix: resolve the unneccessary refetching of graphs on service details page
  frontend/src/container/MetricsApplication/Tabs/Overview.tsx
  frontend/src/container/MetricsApplication/Tabs/Overview/ServiceOverview.tsx
Owners: @srikanthccv

chore: fix more tests
  frontend/src/container/AllAlertChannels/__tests__/CreateAlertChannel.test.tsx
  frontend/src/container/AllAlertChannels/__tests__/CreateAlertChannelNormalUser.test.tsx
  frontend/src/container/AllAlertChannels/__tests__/EditAlertChannel.test.tsx
  frontend/src/container/PanelWrapper/__tests__/__snapshots__/TablePanelWrapper.test.tsx.snap
  frontend/src/container/PanelWrapper/__tests__/__snapshots__/ValuePanelWrapper.test.tsx.snap
  frontend/src/container/PipelinePage/tests/PipelineListsView.test.tsx
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

chore: fix more tests
  frontend/src/components/DraggableTableRow/tests/DraggableTableRow.test.tsx
  frontend/src/components/DraggableTableRow/tests/__snapshots__/DraggableTableRow.test.tsx.snap
  frontend/src/container/PipelinePage/tests/AddNewPipeline.test.tsx
  frontend/src/container/PipelinePage/tests/AddNewProcessor.test.tsx
  frontend/src/container/PipelinePage/tests/PipelineExpandView.test.tsx
  frontend/src/container/PipelinePage/tests/PipelinePageLayout.test.tsx
  frontend/src/container/PipelinePage/tests/__snapshots__/AddNewProcessor.test.tsx.snap
  frontend/src/container/PipelinePage/tests/__snapshots__/PipelineExpandView.test.tsx.snap
  frontend/src/container/PipelinePage/tests/__snapshots__/PipelinePageLayout.test.tsx.snap
Owners: @YounixM

feat: fix some tests and corrected the redux mock
  frontend/src/container/LogsExplorerViews/index.tsx
  frontend/src/container/LogsExplorerViews/tests/LogsExplorerViews.test.tsx
  frontend/src/container/NewExplorerCTA/index.tsx
  frontend/src/container/PipelinePage/tests/PipelineListsView.test.tsx
  frontend/src/pages/LogsExplorer/__tests__/LogsExplorer.test.tsx
  frontend/src/pages/LogsExplorer/__tests__/__snapshots__/LogsExplorer.test.tsx.snap
  frontend/src/tests/test-utils.tsx
Owners: @YounixM

fix(docker): otel-collector-migrator command fixed in docker-compose-core.yaml (#6564)
  deploy/docker/clickhouse-setup/docker-compose-core.yaml
Owners: @SigNoz/devops

feat: delete snapshot
  frontend/src/pages/LogsExplorer/__tests__/LogsExplorer.test.tsx
  frontend/src/pages/LogsExplorer/__tests__/__snapshots__/LogsExplorer.test.tsx.snap
Owners: @YounixM

fix: test cases
  frontend/src/components/TabLabel/index.tsx
  frontend/src/pages/LogsExplorer/__tests__/LogsExplorer.test.tsx
  frontend/src/pages/TracesExplorer/Filter/Filter.tsx
  frontend/src/pages/TracesExplorer/__test__/TracesExplorer.test.tsx
Owners: @YounixM

feat: time picker hint and timezone picker UI with basic functionality + helper to get timezones
  frontend/package.json
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
  frontend/yarn.lock
Owners: @YounixM

feat: add support for esc keypress to close the timezone picker
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/constants/shortcuts/TimezonePickerShortcuts.ts
Owners: @YounixM

fix: overall improvement + add searchIndex to timezone
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

feat: timezone preferences UI
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaption.styles.scss
  frontend/src/container/MySettings/index.tsx
Owners: @YounixM

fix: fix the issue of timezone breaking for browser and utc timezones
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

fix: display the timezone in timepicker hint 'You are at'
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: add the selected timezone as url param and close timezone picker on select
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
Owners: @YounixM

feat: display timezone in timepicker input
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: fix the typo
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.styles.scss
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/container/MySettings/index.tsx
Owners: @YounixM

fix: don't focus on time picker when timezone is clicked
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
Owners: @YounixM

chore: change timezone item from div to button
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
Owners: @YounixM

chore: improve timezone utils
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

chore: update timezone wrapper class name
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: change div to fragment + change type to any as the ESLint complains otherwise
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/RangePickerModal.tsx
  frontend/src/container/TopNav/CustomDateTimeModal/index.tsx
Owners: @YounixM

chore: manage etc timezone filtering with an arg
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

fix: add timezone support to downloaded logs
  frontend/src/container/LogsExplorerViews/index.tsx
Owners: @YounixM

feat: add current timezone to dashboard list and configure metadata modal
  frontend/src/container/ListOfDashboard/DashboardList.styles.scss
  frontend/src/container/ListOfDashboard/DashboardsList.tsx
Owners: @YounixM

fix: add pencil icon next to timezone hint + change the copy to Current timezone
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

fix: properly handle the escape button behavior for timezone picker
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
Owners: @YounixM

chore: replace @vvo/tzdb with native Intl API for timezones
  frontend/package.json
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
  frontend/yarn.lock
Owners: @YounixM

feat: lightmode for timezone picker and timezone adaptation components
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.styles.scss
Owners: @YounixM

fix: use normald tz in browser timezone
  frontend/src/components/CustomTimePicker/timezoneUtils.ts
Owners: @YounixM

fix: timezone picker lightmode fixes
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/TimezonePicker.styles.scss
Owners: @YounixM

feat: display selected time range in 12 hour format
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/RangePickerModal.tsx
Owners: @YounixM

chore: remove unnecessary optional chaining
  frontend/src/components/CustomTimePicker/CustomTimePicker.tsx
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
  frontend/src/components/CustomTimePicker/TimezonePicker.tsx
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/utils.ts
  frontend/src/container/AlertHistory/Timeline/Graph/Graph.tsx
  frontend/src/container/AnomalyAlertEvaluationView/AnomalyAlertEvaluationView.tsx
  frontend/src/container/FormAlertRules/ChartPreview/index.tsx
  frontend/src/container/LogDetailedView/InfraMetrics/NodeMetrics.tsx
  frontend/src/container/LogDetailedView/InfraMetrics/PodMetrics.tsx
  frontend/src/container/MySettings/TimezoneAdaptation/TimezoneAdaptation.tsx
  frontend/src/container/PanelWrapper/UplotPanelWrapper.tsx
  frontend/src/container/TimeSeriesView/TimeSeriesView.tsx
  frontend/src/hooks/useTimezoneFormatter/useTimezoneFormatter.ts
Owners: @YounixM

fix: fix the typo in css variable
  frontend/src/components/CustomTimePicker/CustomTimePicker.styles.scss
Owners: @YounixM

chore: add em dash and change icon for timezone hint in date/time picker
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

chore: move pen line icon to the right of timezone offset
  frontend/src/components/CustomTimePicker/CustomTimePickerPopoverContent.tsx
Owners: @YounixM

.github/CODEOWNERS:

# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/frontend/ @YounixM
/frontend/src/container/MetricsApplication @srikanthccv
/frontend/src/container/NewWidget/RightContainer/types.ts @srikanthccv
/deploy/ @SigNoz/devops
/sample-apps/ @SigNoz/devops
.github @SigNoz/devops
