Repository SigNoz/signoz, pull requests merged in 2021-12, with the labels that each got.

#432 fix: signup is updated
  frontend/src/api/user/signup.ts
  frontend/src/pages/SignUp/index.tsx
  frontend/src/types/api/user/signup.ts
Labels: frontend

#430 chore: changes in user api
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/parser.go
  pkg/query-service/model/queryParams.go
Labels: chore

#427 fix(BUG): error text is show to the user
  frontend/src/container/GeneralSettings/index.tsx
  frontend/src/container/GeneralSettings/styles.ts
Labels: bug, frontend

#426 Improve ESLint Rules #409
  frontend/.eslintrc.cjs
  frontend/src/AppRoutes/index.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/index.tsx
Labels: bug, frontend

#422 feat(UI): web-vitals is added
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
Labels: enhancement, frontend

#414 FEAT(UI): Test case for alerts
  frontend/cypress/fixtures/defaultRules.json
  frontend/cypress/integration/globalTime/default.spec.ts
  frontend/cypress/integration/rules/index.spec.ts
  frontend/src/pages/EditRules/index.tsx
Labels: frontend, test

#417 FE(UI):Channels test
  frontend/cypress/fixtures/defaultAllChannels.json
  frontend/cypress/integration/channels/index.spec.ts
  frontend/src/container/SettingsWrapper/index.tsx
  frontend/src/pages/AllAlertChannels/index.tsx
Labels: frontend, test

#405 fix(BUG): not found is fixed
  frontend/src/AppRoutes/index.tsx
Labels: bug, frontend

#411 feat(UI): Auto refresh
  frontend/src/container/ListAlertRules/ListAlert.tsx
  frontend/src/container/TriggeredAlerts/TriggeredAlert.tsx
  frontend/src/hooks/useInterval.ts
Labels: enhancement, frontend

#385 fix(FE): removed time filter from settings page #374
  frontend/src/container/Header/index.tsx
Labels: bug, frontend

#420 feat(UI): bundlesize is added
  frontend/bundlesize.config.json
  frontend/package.json
  frontend/yarn.lock
Labels: enhancement, frontend

#416 feat(UI): sendfeedback is updated
  frontend/src/api/userFeedback/sendFeedback.ts
  frontend/src/container/AppLayout/FeedBack/index.tsx
  frontend/src/container/AppLayout/FeedBack/styles.ts
  frontend/src/container/AppLayout/index.tsx
  frontend/src/container/AppLayout/styles.ts
  frontend/src/types/api/userFeedback/sendResponse.ts
Labels: enhancement, frontend

#452 bug(fix): refresh is fixed in the metrics application page
  frontend/src/pages/MetricApplication/index.tsx
  frontend/src/store/actions/metrics/getInitialData.ts
Labels: bug, frontend

#445 bug(fix): refresh is fixed in the application page
  frontend/src/pages/Metrics/index.tsx
  frontend/src/store/actions/metrics/getService.ts
Labels: bug, frontend

#477 fix(BUG): localstorage permission is updated
  frontend/src/api/browser/localstorage/get.ts
  frontend/src/api/browser/localstorage/remove.ts
  frontend/src/api/browser/localstorage/set.ts
  frontend/src/container/Header/DateTimeSelection/index.tsx
  frontend/src/container/MetricsTable/index.tsx
  frontend/src/pages/Metrics/index.tsx
  frontend/src/store/actions/app/userLoggedIn.ts
  frontend/src/store/reducers/app.ts
  frontend/src/utils/app.ts
Labels: bug, frontend

#471 fix: cluttering issue is fixed
  frontend/src/components/Graph/index.tsx
Labels: bug, frontend

#462 fix: height for the top nav bar is fixed
  frontend/src/container/Header/styles.ts
Labels: bug, frontend, css

#456 Feat(UI): Storybook is added
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/stories/Spinner.stories.tsx
  frontend/yarn.lock
Labels: enhancement, frontend

#459 [WIP]fix(UI): Allow empty input values in settings retention page.
  frontend/src/container/GeneralSettings/Retention.tsx
  frontend/src/container/GeneralSettings/index.tsx
Labels: bug, frontend

#455 Fix crlf line break
  frontend/.eslintrc.js
Labels: frontend

#482 Revert "Feat(UI): Storybook is added"
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/src/stories/Spinner.stories.tsx
  frontend/yarn.lock
Labels: enhancement

#458 fix: product feedback button
  frontend/src/container/AppLayout/FeedBack/styles.ts
Labels: bug, frontend

#468 fix(BUG): Allow webpack to link CSS with bundled HTML file.
  frontend/webpack.config.js
Labels: frontend

#461 fix(UI): graph legends is fixed
  frontend/src/components/Graph/Legend/index.tsx
  frontend/src/components/Graph/Legend/styles.ts
  frontend/src/components/Graph/Plugin/Legend.ts
  frontend/src/components/Graph/Plugin/index.ts
  frontend/src/components/Graph/index.tsx
  frontend/src/components/Graph/styles.ts
  frontend/src/container/GridGraphComponent/index.tsx
  frontend/src/container/GridGraphLayout/Graph/FullView/index.tsx
  frontend/src/container/GridGraphLayout/Graph/index.tsx
  frontend/src/container/GridGraphLayout/Graph/styles.ts
  frontend/src/container/GridGraphLayout/index.tsx
  frontend/src/container/GridGraphLayout/styles.ts
  frontend/src/container/MetricsApplication/Tabs/Application.tsx
  frontend/src/container/MetricsApplication/Tabs/DBCall.tsx
  frontend/src/container/MetricsApplication/Tabs/External.tsx
  frontend/src/container/MetricsApplication/styles.ts
  frontend/src/container/NewWidget/LeftContainer/WidgetGraph/WidgetGraph.tsx
  frontend/src/container/TraceCustomVisualization/styles.ts
  frontend/src/lib/JSXtoHTML.ts
  frontend/src/lib/getChartData.ts
  frontend/src/modules/Usage/UsageExplorer.tsx
  frontend/src/modules/Usage/styles.ts
Labels: bug, frontend

#514 feat: added memory limit to `otel-collecor`service
  deploy/docker/clickhouse-setup/docker-compose.yaml
Labels: enhancement

#558 fix: db/logger security bugs
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/parser.go
Labels: bug

#501 feat: tooltip is added
  frontend/src/components/TextToolTip/index.tsx
  frontend/src/container/AllAlertChannels/index.tsx
  frontend/src/container/AllAlertChannels/styles.ts
  frontend/src/container/GeneralSettings/index.tsx
  frontend/src/container/GeneralSettings/styles.ts
  frontend/src/container/ListAlertRules/ListAlert.tsx
  frontend/src/container/ListAlertRules/styles.ts
  frontend/src/container/ListOfDashboard/index.tsx
  frontend/src/container/ListOfDashboard/styles.ts
  frontend/src/container/NewWidget/LeftContainer/QuerySection/Query.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/styles.ts
  frontend/src/modules/Traces/TraceGanttChart/TraceGanttChart.tsx
Labels: enhancement, frontend

#473 fix(UI): Restore theme preference after reloading (#469)
  frontend/src/container/SideNav/index.tsx
  frontend/src/index.html.ejs
  frontend/src/lib/theme/getTheme.ts
  frontend/src/lib/theme/setTheme.ts
  frontend/src/store/reducers/app.ts
Labels: bug, frontend

#485 fix(UI): cross env now will work
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#562 chore(UI): query is updated for application and external graphs
  frontend/src/container/MetricsApplication/Tabs/Application.tsx
  frontend/src/container/MetricsApplication/Tabs/External.tsx
Labels: frontend
