Repository SigNoz/signoz, pull requests merged in 2021-08, with the labels that each got.

#249 feat: Filter spans using regex pattern matching in tags
  frontend/src/modules/Traces/TraceFilter.tsx
  frontend/src/store/actions/traceFilters.ts
  pkg/query-service/app/clickhouseReader/reader.go
Labels: query-service

#258 fix(FE): onFocusSelected bug is resolved
  frontend/src/modules/Traces/TraceGanttChart/TraceGanttChart.tsx
Labels: bug, frontend

#259 fix(FE): css issue for the tabs is updated
  frontend/src/modules/Metrics/ServiceMetrics.tsx
Labels: bug, frontend

#264 contribution.md for frontend local instruction is updated
  CONTRIBUTING.md
Labels: documentation

#265 Feat: Enables error from grpc calls
  pkg/processors/flattener/main.go
  pkg/query-service/app/clickhouseReader/reader.go
Labels: enhancement

#268 feat: grpc error calculation added to druid query
  pkg/query-service/druidQuery/mysql-query.go
  pkg/query-service/druidQuery/query.go
  pkg/query-service/go.mod
  pkg/query-service/go.sum
  pkg/query-service/main.go
Labels: enhancement

#260 fix(FE): AppRoutes is refactored
  frontend/src/AppRoutes/index.tsx
  frontend/src/AppRoutes/routes.ts
  frontend/src/components/Loadable/index.tsx
  frontend/src/components/Spiner.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/components/Spinner/styles.ts
  frontend/src/index.tsx
  frontend/src/modules/AppLayout.tsx
  frontend/src/modules/AppWrapper.tsx
  frontend/src/modules/Metrics/ServicesTable.tsx
  frontend/src/modules/Servicemap/ServiceMap.tsx
  frontend/src/pages.ts
  frontend/src/typings/react-app-env.d.ts
  frontend/webpack.config.js
  frontend/webpack.config.prod.js
Labels: frontend

#263 Feature(FE): Setup cypress
  .gitignore
  frontend/cypress.json
  frontend/cypress/fixtures/example.json
  frontend/cypress/integration/1-getting-started/todo.spec.ts
  frontend/cypress/plugins/index.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.ts
  frontend/cypress/tsconfig.json
  frontend/package.json
  frontend/yarn.lock
Labels: enhancement, frontend, test

#266 bug: commitlint.yml is fixed
  .github/workflows/commitlint.yml
Labels: bug

#271 Feat: enables metrics ingestion to signoz
  .gitignore
  deploy/docker/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
  deploy/docker/clickhouse-setup/prometheus.yml
  pkg/query-service/Dockerfile
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/druidReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/interface.go
  pkg/query-service/app/parser.go
  pkg/query-service/config/prometheus.yml
  pkg/query-service/go.mod
  pkg/query-service/go.sum
  pkg/query-service/model/queryParams.go
  pkg/query-service/model/response.go
Labels: enhancement
