Repository SigNoz/signoz, pull requests merged in 2021-11, with the labels that each got.

#353 Feat(FE): retention UI
  frontend/src/api/settings/getRetention.ts
  frontend/src/api/settings/setRetention.ts
  frontend/src/container/GeneralSettings/Retention.tsx
  frontend/src/container/GeneralSettings/index.tsx
  frontend/src/container/GeneralSettings/styles.ts
  frontend/src/lib/convertIntoHr.ts
  frontend/src/lib/getSettingsPeroid.ts
  frontend/src/pages/Settings/index.tsx
  frontend/src/types/api/settings/getRetention.ts
  frontend/src/types/api/settings/setRetention.ts
Labels: enhancement, frontend

#355 fix(loadash): moved to es format
  frontend/src/modules/Servicemap/SelectService.tsx
  frontend/src/modules/Servicemap/utils.ts
Labels: bug, enhancement, frontend

#379 BUG(FE): Fix application metrics
  frontend/src/container/MetricsApplication/Tabs/Application.tsx
  frontend/src/container/TraceCustomVisualization/TraceCustomGraph.tsx
Labels: bug, frontend

#361 fix(FE): Notification is shown to the user when api for login is not successful
  frontend/src/pages/SignUp/index.tsx
Labels: bug, frontend

#386 Bug(FE): Removed un wanted package from frontend and other enchancements
  frontend/.babelrc
  frontend/.nvmrc
  frontend/gulpfile.js
  frontend/package.json
  frontend/src/web-vital.ts
  frontend/webpack.config.prod.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Labels: frontend

#383 fix(FE): app routes type is updated
  frontend/src/AppRoutes/index.tsx
Labels: bug, frontend

#382 Fix(FE): some eslint error are fixed
  frontend/cypress/plugins/index.ts
  frontend/cypress/tsconfig.json
  frontend/src/AppRoutes/pageComponents.ts
  frontend/src/AppRoutes/routes.ts
  frontend/src/components/Spinner/styles.ts
  frontend/src/constants/routes.ts
  frontend/src/container/GridGraphComponent/index.tsx
  frontend/src/container/Header/DateTimeSelection/index.tsx
  frontend/src/container/NewDashboard/DescriptionOfDashboard/index.tsx
  frontend/src/container/TraceCustomVisualization/index.tsx
  frontend/src/container/TraceFilter/Filter.tsx
  frontend/src/container/TraceFilter/index.tsx
  frontend/src/modules/Servicemap/SelectService.tsx
  frontend/src/modules/Servicemap/ServiceMap.tsx
  frontend/src/modules/Traces/LatencyModalForm.tsx
  frontend/src/modules/Traces/SelectedSpanDetails.tsx
  frontend/src/modules/Traces/TraceCustomVisualizations.tsx
  frontend/src/modules/Traces/TraceDetail.tsx
  frontend/src/modules/Traces/TraceFilter.tsx
  frontend/src/modules/Traces/TraceList.tsx
  frontend/src/modules/Usage/UsageExplorer.tsx
  frontend/src/pages/MetricApplication/index.tsx
  frontend/src/pages/TraceDetails/index.tsx
  frontend/src/store/actions/metrics/resetInitialData.ts
  frontend/src/store/actions/serviceMap.ts
  frontend/src/store/actions/trace/index.ts
  frontend/src/store/actions/traceFilters.ts
  frontend/src/store/actions/usage.ts
  frontend/src/store/reducers/index.ts
  frontend/src/store/reducers/metric.ts
  frontend/src/store/reducers/metrics.ts
  frontend/src/store/reducers/serviceMap.ts
  frontend/src/store/reducers/trace.ts
  frontend/src/store/reducers/traceFilters.ts
  frontend/src/store/reducers/traces.ts
  frontend/src/store/reducers/usage.ts
  frontend/src/typings/react-graph-vis.ts
  frontend/yarn.lock
Labels: bug, frontend

#398 BUG(FE): Fix trigger alerts
  frontend/src/container/TriggeredAlerts/NoFilterTable.tsx
Labels: bug

#403 Fix filtered spans
  frontend/src/constants/routes.ts
  frontend/src/container/TraceList/index.tsx
  frontend/src/modules/Traces/TraceGraph.tsx
  frontend/src/store/actions/traces.ts
Labels: bug

#292 feat: enables prometheus rules and alerts
  deploy/docker/clickhouse-setup/alertmanager.yml
  deploy/docker/clickhouse-setup/alerts.yml
  deploy/docker/clickhouse-setup/docker-compose.yaml
  deploy/docker/clickhouse-setup/prometheus.yml
  deploy/docker/common/nginx-config.conf
  pkg/query-service/app/clickhouseReader/reader.go
  pkg/query-service/app/dashboards/model.go
  pkg/query-service/app/druidReader/reader.go
  pkg/query-service/app/http_handler.go
  pkg/query-service/app/interface.go
  pkg/query-service/app/parser.go
  pkg/query-service/app/server.go
  pkg/query-service/config/alerts.yml
  pkg/query-service/config/prometheus.yml
  pkg/query-service/constants/constants.go
  pkg/query-service/go.mod
  pkg/query-service/go.sum
  pkg/query-service/model/response.go
Labels: enhancement, alerts
