Repository SigNoz/signoz, pull requests merged in 2021-09, with the labels that each got.

#297 feat: enable data persistence in clickhouse docker
  deploy/docker/clickhouse-setup/docker-compose.yaml
Labels: enhancement

#309 feat: signoz can now scale up in docker swarm
  deploy/docker-swarm/clickhouse-setup/clickhouse-config.xml
  deploy/docker-swarm/clickhouse-setup/data/clickhouse/.gitkeep
  deploy/docker-swarm/clickhouse-setup/data/signoz/.gitkeep
  deploy/docker-swarm/clickhouse-setup/docker-compose.yaml
  deploy/docker-swarm/clickhouse-setup/docker-entrypoint-initdb.d/init-db.sql
  deploy/docker-swarm/clickhouse-setup/otel-collector-config-hostmetrics.yaml
  deploy/docker-swarm/clickhouse-setup/otel-collector-config.yaml
  deploy/docker-swarm/clickhouse-setup/prometheus.yml
  deploy/docker-swarm/common/locust-scripts/locustfile.py
  deploy/docker-swarm/common/nginx-config.conf
  deploy/docker-swarm/dashboards/.gitkeep
Labels: enhancement

#299 fix: fav icon is fixed and bootstrap is removed
  frontend/src/index.html.ejs
Labels: frontend

#302 fix(FE): createdBy is renamed to createdAt
  frontend/src/container/ListOfDashboard/index.tsx
Labels: frontend

#303 fix(FE): Chart.js plugins are not register at each and every render
  frontend/src/components/Graph/index.tsx
Labels: frontend

#305 fix(FE): color for the graph is updated
  frontend/src/lib/getChartData.ts
Labels: frontend

#311 Fix(FE): Fix date dashboard
  frontend/src/container/ListOfDashboard/TableComponents/CreatedBy.tsx
  frontend/src/container/ListOfDashboard/TableComponents/Date.tsx
  frontend/src/container/ListOfDashboard/index.tsx
  frontend/src/lib/convertDateToAmAndPm.ts
  frontend/src/lib/getFormatedDate.ts
Labels: frontend

#306 Feat(FE): Delete Query, Save Layout
  frontend/src/container/GridGraphLayout/index.tsx
  frontend/src/container/GridGraphLayout/styles.ts
  frontend/src/container/NewDashboard/GridGraphs/index.tsx
  frontend/src/container/NewDashboard/index.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/Query.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/index.tsx
  frontend/src/container/NewWidget/LeftContainer/QuerySection/styles.ts
  frontend/src/store/actions/dashboard/deleteQuery.ts
  frontend/src/store/actions/dashboard/index.ts
  frontend/src/store/reducers/dashboard.ts
  frontend/src/types/actions/dashboard.ts
  frontend/src/types/api/dashboard/getAll.ts
Labels: frontend

#301 Fix(FE): dark mode
  frontend/public/css/antd.dark.min.css
  frontend/public/css/antd.min.css
  frontend/public/dark-theme.css
  frontend/public/light-theme.css
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/src/assets/index.css
  frontend/src/components/Graph/index.tsx
  frontend/src/components/SideNav/index.tsx
  frontend/src/components/SideNav/styles.ts
  frontend/src/index.html.ejs
  frontend/src/index.tsx
  frontend/src/modules/add-instrumentation/instrumentationPage.tsx
  frontend/src/store/actions/app/index.ts
  frontend/src/store/actions/app/toggleDarkMode.ts
  frontend/src/store/actions/index.ts
  frontend/src/store/reducers/app.ts
  frontend/src/store/reducers/global.ts
  frontend/src/store/reducers/index.ts
  frontend/src/themes/index.ts
  frontend/src/types/actions/app.ts
  frontend/src/types/actions/index.ts
  frontend/src/types/reducer/app.ts
  frontend/yarn.lock
Labels: frontend

#315 Revert "[Snyk] Fix for 5 vulnerabilities"
  frontend/.snyk
  frontend/package.json
  frontend/yarn.lock
Labels: bug

#317 feat: adding more hostmetrics
  deploy/docker/clickhouse-setup/otel-collector-config.yaml
Labels: enhancement
